@model IEnumerable<SmmCoreDDD2019.Application.AccountingDataJournalDB.Query.GetDataJournalByKodeHeader.GetDataJournalByKodeHeaderLookUpModel>
@{
    ViewData["Title"] = "CreateJournalDetail";
   // Layout = "~/Views/Shared/_AdminlteCreate.cshtml";
}

<h2>CreateJournalDetail</h2>


<div>
    <a asp-action="Index">Back to List</a>
</div>
<div>
    <a asp-controller="JournalHeaders" asp-action="Create">Tambah Jurnal Transaksi</a>
</div>


<h2>Create</h2>

<h4>Input Data Jurnal</h4>
<hr />


<div class="row">
    <div>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <select name="IdBukti1" asp-items="@ViewBag.DataJournalHeader1" class="form-control">
                <option>------------ Silahkan Pilih Data Journal ------------</option>
            </select>
            <div class="column">
                <table class="table table-bordered table-striped grid" style="width:100%">
                    <caption style="">Silahkan Pilih Data Transaksi Anda</caption>
                    <tr>
                        <th>Akun</th>
                        <th>Debit</th>
                        <th>Kredit</th>
                        <th>Keterangan</th>
                    </tr>
                    <tr>
                        <td>

                            <select name="IdAccount1" asp-items="ViewBag.Account1" class="form-control">
                                <option>------------ Silahkan Pilih Akun ------------</option>
                            </select>

                        </td>
                        <td>
                            <input name="Debit1" style="text-align:right" value="0" class="form-control" />

                        </td>
                        <td>
                            <input name="Kredit1" style="text-align:right" value="0" class="form-control" />

                        </td>
                        <td>
                            <input name="Keterangan1" class="form-control" />

                        </td>
                    </tr>
                </table>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <p></p>
</div>
<div>
    <table class="table table-bordered table-striped grid" style="width:100%">
        <caption style="text-align:center">Rincian Jurnal Transaksi</caption>
        @{int i = 1;
            Decimal? debit11 = 0;
            decimal? kredit22 = 0;

        }
        @if (Model == null) { }
        else
        {
            <tr>
                <th>No.</th>
                <th>Kode Akun - Akun</th>
                <th>Debit</th>
                <th>Kredit</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@i</td>
                    <td>@item.DataAkun</td>
                    <td>
                        @string.Format("{0:c}", item.Debit1)
                    </td>
                    <td>
                        @string.Format("{0:c}", item.Kredit1)
                    </td>
                </tr>
                debit11 = debit11 + item.Debit1;
                kredit22 = kredit22 + item.Kredit1;
                i++;
            }
            <tr>
                <td></td>
                <td>
                    @if (debit11 < kredit22)
                    {
                        <p style="color:red;text-align:center">Tidak Seimbang</p>
                    }
                    else if (debit11 > kredit22)
                    { <p style="color:red;text-align:center">Tidak Seimbang</p> }
                    else
                    { <p style="text-align:center">Seimbang</p>}

                </td>
                <td>   @string.Format("{0:c}", debit11)</td>
                <td>@string.Format("{0:c}", kredit22)</td>
            </tr>

        }

    </table>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
