@model IEnumerable<SmmCoreDDD2019.Application.StokUnits.Query.GetLaporanSO.GetLaporanSOLookUpModel>
@{
    ViewData["Title"] = "LaporanStokUnit";
    //Layout = "~/Views/Shared/_AdminlteCreate.cshtml";
}

<h2>LaporanStokUnit</h2>

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


<script language="javascript">
    function printdiv(printpage) {
        var headstr = "<html><head><title></title></head><body>";
        var footstr = "</body>";
        var newstr = document.all.item(printpage).innerHTML;
        var oldstr = document.body.innerHTML;
        document.body.innerHTML = headstr + newstr + footstr;
        window.print();
        document.body.innerHTML = oldstr;
        return false;
    }
</script>

<div class="hidden-print">
    <p></p>

    <input name="b_print" type="button" class="ipt" onClick="printdiv('div_print');" value=" Print ">
</div>
<p class="hidden-print">
    <button id="expandHeader" class="btn btn-primary" onclick="$('.group-header').fadeIn();">Expand Headers</button>
    <button id="collapseHeader" class="btn btn-primary" onclick="$('.group-header').fadeOut();">Collapse Headers</button>
    <button id="expandAll" class="btn btn-primary" onclick="$('#companyGrid tr:not(.group-header, .group-footer)').fadeIn();">Expand All Data</button>
    <button id="collapseAll" class="btn btn-primary" onclick="$('#companyGrid tr:not(:first, .group-header, .group-footer)').fadeOut();">Collapse All Data</button>
    <button id="expandAll" class="btn btn-primary" onclick="$('#companyGrid tr').fadeIn();">Expand All</button>
    <button id="collapseAll" class="btn btn-primary" onclick="$('#companyGrid tr').fadeOut();">Collapse All</button>
    <button id="expandFooter" class="btn btn-primary" onclick="$('.group-footer').fadeIn();">Expand Footers</button>
    <button id="collapseFooter" class="btn btn-primary" onclick="$('.group-footer').fadeOut();">Collapse Footers</button>
</p>


<div id="div_print">
    <h2>Laporan Stok Unit</h2>
    <table id="companyGrid" class="table table-bordered table-striped grid">
        <thead>
            <tr>
                <td>Nama Barang</td>
                @if (SignInManager.IsSignedIn(User))
                {
                    //ADMIN
                    if (this.User.IsInRole("ADMINISTRATOR") || this.User.IsInRole("ADMIN"))
                    {
                        <td>Edit  Data Unit</td>
                    }
                }
                <td>No Mesin</td>
                <td>No Rangka</td>
                <td>Warna</td>
                <td>Supplier</td>
                <td>Tanggal Beli</td>
                @if (SignInManager.IsSignedIn(User))
                {
                    //ADMIN
                    if (this.User.IsInRole("ADMINISTRATOR") || this.User.IsInRole("ADMIN"))
                    {
                        <td>Edit Data</td>
                        <td>Hapus Unit</td>
                    }
                }


            </tr>
        </thead>

        <tbody>

            @foreach (var aa in Model.GroupBy(x => x.TypeKendaraan))
            {
                <tr class="group-header">
                    <td colspan="6">
                        <span class="h3">@aa.Key</span>
                    </td>
                </tr>
                foreach (var item in aa)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NamaBarang1)
                        </td>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            //ADMIN
                            if (this.User.IsInRole("ADMINISTRATOR") || this.User.IsInRole("ADMIN"))
                            {
                                <td class="hidden-print">
                                    <a asp-controller="StokUnits" asp-action="EditTypeBarang" asp-route-id="@item.NoUrutSO">Edit</a>
                                </td>
                            }

                        }

                        <td>
                            @Html.DisplayFor(modelItem => item.NoMesin)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NoRangka)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Warna)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NamaSupplier)
                        </td>
                        <td>
                            @string.Format("{0:d}", item.TanggalBeli)
                            @*@Html.DisplayFor(modelItem => item.TglBeli1)*@
                        </td>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            //ADMIN
                            if (this.User.IsInRole("ADMINISTRATOR") || this.User.IsInRole("ADMIN"))
                            {
                                <td class="hidden-print">
                                    <a asp-controller="StokUnits" asp-action="Edit" asp-route-id="@item.NoUrutSO">Edit</a>
                                </td>
                                <td class="hidden-print">
                                    <a asp-controller="StokUnits" asp-action="Delete" asp-route-id="@item.NoUrutSO">Edit</a>
                                </td>
                            }

                        }

                    </tr>
                }
                <tr class="group-footer">
                    <td colspan="6">
                        <span class="label label-info">Type Kendaraan: @aa.Key</span>
                        <span class="label label-success">Total Unit: @aa.Count()</span>
                        @*<span class="col-md-3">Departments: @group.Select(x => x.Department).Distinct().ToList().Count()</span>*@
                        @*<span class="label label-primary">Avg Salary: @aa.Average(x => x.Salary).ToString("C")</span>*@
                    </td>
                </tr>

            }
        </tbody>

    </table>
    <p>Printed by:@UserManager.GetUserName(User) @DateTime.Now</p>
</div>
<script type="text/javascript">
    $(function () {
        addPaging();

        $('.group-header').click(function () {
            $(this).nextUntil('.group-header').toggle();
        });
    });

    function addPaging() {
        $('#employeeGrid tr:first').prepend('<th style="width:60px;">S. No.</th>');
        $('#employeeGrid tr:not(:first, .group-header, .group-footer)').each(function (index) {
            $(this).prepend('<td class="text-right">' + (index + 1) + '.</td>');
        });
    }
</script>



