@model SmmCoreDDD2019.Application.PenjualanDetails.Query.GetDataDetailLeasingCetak.GetDataDetailLeasingCetakLookUpModel

@{
    ViewData["Title"] = "SuratJalan4";
  //  Layout = "~/Views/Shared/_AdminlteCreate.cshtml";
}


<script language="javascript">
    function printdiv(printpage) {
        var headstr = "<html><head><title></title></head><body>";
        var footstr = "</body>";
        var newstr = document.all.item(printpage).innerHTML;
        var oldstr = document.body.innerHTML;
        document.body.innerHTML = headstr + newstr + footstr;
        window.print();
        document.body.innerHTML = oldstr;
        return false;
    }
</script>
<style>
    .page {
        width: 21cm;
        min-height: 29.7cm;
        padding: 2cm;
        margin: 1cm auto;
        border: 1px #D3D3D3 solid;
        border-radius: 5px;
        background: white;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }
</style>

<div class="hidden-print">
    <p></p>

    <input name="b_print" type="button" class="ipt" onClick="printdiv('div_print');" value=" Print ">
    <a asp-action="Index">Back to List</a>
</div>

<div id="div_print">
    <div>
        <center style="font-weight:bold"><u>SURAT JALAN</u></center>
        <center style="font-weight:bold"><u>TANDA TERIMA KENDARAAN DAN PERLENGKAPAN</u></center>
    </div>
    <div>
        <table align="center" style="table-layout:fixed;width:100%">
            <colgroup>
                <col style="width:auto" />
                <col style="width:auto" />
            </colgroup>
            <tr style="font-size:12px">
                <td>
                    @ViewData["NamaP"]<br />
                    @ViewData["AlamatP"]<br />
                    @ViewData["KotaP"]<br />
                    @ViewData["TelpP"]<br />
                    No.@Html.DisplayFor(model => model.NoBuku)
                </td>

                <td style="table-layout:auto">
                    Kepada Yth,<br />
                    Bapak/Ibu @Html.DisplayFor(model => model.NamaKonsumen) QQ @Html.DisplayFor(model => model.NamaBPKB) <br />
                    @Html.DisplayFor(model => model.AlamatKonsumen)<br />
                    Kel.@Html.DisplayFor(model => model.KelurahanK) Kec.@Html.DisplayFor(model => model.KecamatanK)<br />
                    Kota @Html.DisplayFor(model => model.KotaK) KodePos @Html.DisplayFor(model => model.KodePosK)<br />
                    Telp.@Html.DisplayFor(model => model.NoTelepon) HP.@Html.DisplayFor(model => model.NoHandphone)
                </td>
            </tr>
        </table>
        <table align="center" style="table-layout:fixed;width:100%;border:solid;border-width:thin;font-size:12px">
            <tr style="border:1px">
                <th style="border:solid;font-weight:normal;text-align:center">Jenis Kendaraan</th>
                <th style="border:solid;font-weight:normal;text-align:center">Merek</th>
                <th style="border:solid;font-weight:normal;text-align:center">Nama Barang</th>
                <th style="border:solid;font-weight:normal;text-align:center">Warna</th>
                <th style="border:solid;font-weight:normal;text-align:center">No Rangka<br />No.Mesin</th>
            </tr>
            <tr style="border:1px">
                <td style="border:solid;text-align:center">Sepeda Motor</td>
                <td style="border:solid;text-align:center">@Html.DisplayFor(model => model.Merek)</td>
                <td style="border:solid;text-align:center">@Html.DisplayFor(model => model.NamaBarang)</td>
                <td style="border:solid;text-align:center">@Html.DisplayFor(model => model.Warna)</td>
                <td style="border:solid;text-align:center">@Html.DisplayFor(model => model.Noka1) @Html.DisplayFor(model => model.NoRangka) <br />@Html.DisplayFor(model => model.Nosin1) @Html.DisplayFor(model => model.NoMesin)</td>
            </tr>
        </table>
        <p style="font-size:10px;line-height:1">Jumlah Kendaraan 01(satu) unit Lengkap ( *Helm  * Jaket *Toolkit *Buku Service *Kaca Spion *Kunci Motor * Aki 12 Volt *Buku Manual)</p>
        <table align="center" style="table-layout:fixed;width:100%;border:thin;border-width:thin">
            <colgroup>
                <col style="width:auto" />
                <col style="width:auto" />
            </colgroup>
            <tr style="font-size:10px;line-height:1">
                <td>
                    Keterangan<br />
                    *Kendaraan sudah diterima tidak dapat dikembalikan/ditukar<br />
                    *Kendaraan 100% baru tanpa cacat<br />
                    *Kendaraan Telah diperiksa dengan teliti<br />
                    *Kami Tidak Menerima Klaim atau keluhan setelah kendaraan dan kelengkapannya diterima
                </td>
                <td>
                    Perlengkapan Terpasang Cukup<br />
                    Apabila ada kenaikan Harga BBN sewaktu-waktu Pihak Dealer Membebankan Biaya<br />
                    Untuk Konsumen yang memiliki lebih dari 1 unit motor, Pajak Progresif ditanggung Konsumen(wajib Pajak)

                </td>
            </tr>
        </table>
        <table style="width:100%;font-size:12px;border-bottom:solid">
            <tr>
                <th style="font-weight:normal;text-align:center">Diterima Oleh</th>
                <th style="font-weight:normal;text-align:center">Dikirim Oleh</th>
                <th style="font-weight:normal;text-align:center">Wira Niaga</th>
                <th style="font-weight:normal;text-align:center">Marketing Kordinator</th>
                <th style="font-weight:normal;text-align:center">Divisi SO</th>
                <th style="font-weight:normal;text-align:center">Admin</th>
                <th style="font-weight:normal;text-align:center">Hormat Kami,<br /> @DateTime.Now.ToString("dd MMMM yyyy")</th>

            </tr>
            <tr>
                <td height="75"></td>
                <td height="75"></td>
                <td height="75" style="text-align:center">@Html.DisplayFor(model => model.NamaSales)</td>
                <td height="75" style="text-align:center"></td>
                <td height="75"></td>
                <td height="75"></td>
                <td height="75"></td>
            </tr>
        </table>
        <p style="text-align:center;font-weight:bold"><u>KWITANSI</u></p>
        <table align="center" style="width:100%;table-layout:fixed">
            <colgroup>
                <col style="width:100px;white-space:nowrap;height:500px" />
                <col style="width:1000px" />
            </colgroup>
            <tr>
                <td style="vertical-align:middle;white-space:nowrap;line-height:1;transform:rotate(-90deg);text-align:center;border-right:solid;font-size:smaller;font-family:'Times New Roman'" width="100" height="100">
                    <p>       @ViewData["NamaP"]<br /></p>
                    <p class="normal" style="overflow-wrap:normal">  @ViewData["AlamatP"]<br /></p>
                    <p>  @ViewData["KotaP"]<br /></p>
                    <p>@ViewData["TelpP"]<br /></p>
                </td>
                <td style="vertical-align:top">
                    <br />
                    Sudah Terima Dari :  @Html.DisplayFor(model => model.NamaKonsumen) QQ @Html.DisplayFor(model => model.NamaBPKB)<br />
                    Banyaknya Uang:
                    <label style="font-weight:normal" id="TerbilangUM"></label><br>

                    Untuk Pembayaran : Uang Muka 01(satu) Unit Sepeda motor @Html.DisplayFor(model => model.Merek) Type @Html.DisplayFor(model => model.NamaBarang)
                    warna @Html.DisplayFor(model => model.Warna) No.Rangka : @Html.DisplayFor(model => model.Noka1)@Html.DisplayFor(model => model.NoRangka)
                    No.Mesin : @Html.DisplayFor(model => model.Nosin1)@Html.DisplayFor(model => model.NoMesin)<br />
                    <table style="width:100%">
                        <tr></tr>
                        <colgroup>
                            <col style="width:20%" />
                            <col style="width:10%" />
                            <col style="width:35%" />
                            <col style="width:35%" />
                        </colgroup>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th>@ViewData["KotaP"],@DateTime.Now.ToString("dd MMMM yyyy")</th>
                        </tr>
                        <tr>
                            <td> <input readonly nama="Um3" id="Um3" value="@string.Format("{0:c}",Model.UangMuka)" /></td>
                            <td></td>
                            <td>
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                (__________________________)
                            </td>
                            <td>
                                Hormat Kami
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br /><br />
                                (_____<u>@ViewData["ContakCs"]</u>_____)
                            </td>
                        </tr>
                    </table>
                    <p style="font-size:small">Pembayaran dengan Cheque/BG dianggap Sah Bila telah diuangkan.</p>
                    <p style="font-size:small">Pengurusan STNK Mulai berjalan 1-2 hari setelah Bagian administrasi menerima Fc KTP </p>
                    <p style="font-size:small">Lembar Ke-4 : Untuk Bagian Keuangan </p>
                </td>
            </tr>
        </table>
        <p>Printed by:@UserManager.GetUserName(User) @DateTime.Now</p>
    </div>
</div>



<script>

    var Terbilang = (function (idx)
    {
         var testangka1 = idx;
          bilangan = String(testangka1);
            var hasil = $('#terbilang');
            var angka = new Array('0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0');
            var kata = new Array('', 'Satu', 'Dua', 'Tiga', 'Empat', 'Lima', 'Enam', 'Tujuh', 'Delapan', 'Sembilan');
            var tingkat = new Array('', 'Ribu', 'Juta', 'Milyar', 'Triliun');
            var panjang_bilangan = bilangan.length;

            /* pengujian panjang bilangan
            if (panjang_bilangan > 15) {
                kaLimat = "Diluar Batas";

                hasil.val(kaLimat);
                hasil.change();

            } */

            /* mengambil angka-angka yang ada dalam bilangan, dimasukkan ke dalam array */
            for (i = 1; i <= panjang_bilangan; i++) {
                angka[i] = bilangan.substr(-(i), 1);
            }

            i = 1;
            j = 0;
            kaLimat = "";


            /* mulai proses iterasi terhadap array angka */
            while (i <= panjang_bilangan) {

                subkaLimat = "";
                kata1 = "";
                kata2 = "";
                kata3 = "";

                /* untuk Ratusan */
                if (angka[i + 2] != "0") {
                    if (angka[i + 2] == "1") {
                        kata1 = "Seratus";
                    } else {
                        kata1 = kata[angka[i + 2]] + " Ratus";
                    }
                }

                /* untuk Puluhan atau Belasan */
                if (angka[i + 1] != "0") {
                    if (angka[i + 1] == "1") {
                        if (angka[i] == "0") {
                            kata2 = "Sepuluh";
                        } else if (angka[i] == "1") {
                            kata2 = "Sebelas";
                        } else {
                            kata2 = kata[angka[i]] + " Belas";
                        }
                    } else {
                        kata2 = kata[angka[i + 1]] + " Puluh";
                    }
                }

                /* untuk Satuan */
                if (angka[i] != "0") {
                    if (angka[i + 1] != "1") {
                        kata3 = kata[angka[i]];
                    }
                }

                /* pengujian angka apakah tidak nol semua, lalu ditambahkan tingkat */
                if ((angka[i] != "0") || (angka[i + 1] != "0") || (angka[i + 2] != "0")) {
                    subkaLimat = kata1 + " " + kata2 + " " + kata3 + " " + tingkat[j] + " ";
                }

                /* gabungkan variabe sub kaLimat (untuk Satu blok 3 angka) ke variabel kaLimat */
                kaLimat = subkaLimat + kaLimat;
                i = i + 3;
                j = j + 1;

            }

            /* mengganti Satu Ribu jadi Seribu jika diperlukan */
            if ((angka[5] == "0") && (angka[6] == "0")) {
                kaLimat = kaLimat.replace("Satu Ribu", "Seribu");
            }

            return kaLimat + "Rupiah";
     });

        $(document).ready(function ()
    {

            // var testangka1 = $("#testangka").val();

            var bnm = Terbilang(@Html.DisplayFor(model => model.UangMuka));
            $('#TerbilangUM').text(bnm);







    });



</script>

