@model SmmCoreDDD2019.Application.PenjualanDetails.Query.GetDataDetailLeasingCetak.GetDataDetailLeasingCetakLookUpModel
@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "SuratJalan2";
    //Layout = "~/Views/Shared/_AdminlteCreate.cshtml";
}

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


<script language="javascript">
    function printdiv(printpage) {
        var headstr = "<html><head><title></title></head><body>";
        var footstr = "</body>";
        var newstr = document.all.item(printpage).innerHTML;
        var oldstr = document.body.innerHTML;
        document.body.innerHTML = headstr + newstr + footstr;
        window.print();
        document.body.innerHTML = oldstr;
        return false;
    }
</script>
<style>
    .page {
        width: 21cm;
        min-height: 29.7cm;
        padding: 2cm;
        margin: 1cm auto;
        border: 1px #D3D3D3 solid;
        border-radius: 5px;
        background: white;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }
</style>

<div class="hidden-print">
    <p></p>

    <input name="b_print" type="button" class="ipt" onClick="printdiv('div_print');" value=" Print ">
    <a asp-action="Index">Back to List</a>
</div>


<div id="div_print">
    <p style="text-align:center;font-weight:bold"><u>KWITANSI</u></p>
    <table style="white-space:nowrap">
        <tr><td>Sudah Terima Dari   :    @ViewData["NamaP"] QQ  @Html.DisplayFor(model => model.NamaKonsumen)</td></tr>
        <tr><td>Banyaknya Uang      :    <label style="font-weight:normal" id="TerbilangDiskon"></label></td></tr>
        <tr>
            <td>
                Untuk Pembayaran    :   Potongan Harga 01(satu) Unit Sepeda motor @Html.DisplayFor(model => model.Merek) Type @Html.DisplayFor(model => model.NamaBarang)
                Warna @Html.DisplayFor(model => model.Warna) No.Rangka:@Html.DisplayFor(model => model.Noka1)@Html.DisplayFor(model => model.NoRangka) No.Mesin: @Html.DisplayFor(model => model.Nosin1)
                @Html.DisplayFor(model => model.NoMesin)
            </td>
        </tr>
    </table>

    <table align="center" style="table-layout:fixed;width:100%">
        <colgroup>
            <col style="width:auto" />
            <col style="width:auto" />
        </colgroup>
        <tr style="font-size:12px">
            <td>
                <label style="border:double">@string.Format("{0:c}", Model.DiskonKredit1)</label>
            </td>
            <td style="table-layout:auto">
                Tangerang, 31 maret 2018<br /><br /><br /><br /><br /><br />
                (_________________________)<br />
                Nama Jelas:<br />
                No.Handphone:
            </td>
        </tr>
    </table>
    <table align="center" style="width:100%;table-layout:fixed;border:solid">
        <colgroup>
            <col style="width:30%" />
            <col style="width:15%" />
            <col style="width:30%" />
            <col style="width:15%" />
            <col style="width:10%" />
        </colgroup>
        <tr style="word-wrap:break-word;white-space:nowrap;vertical-align:top">
            <td style="word-wrap:break-word">
                @Html.DisplayFor(model => model.NamaKonsumen)<br />
                STNK:@Html.DisplayFor(model => model.NamaBPKB)<br />
                @Html.DisplayFor(model => model.AlamatKonsumen)<br />
                Kel.@Html.DisplayFor(model => model.KelurahanK) Kec.@Html.DisplayFor(model => model.KecamatanK)<br />
                Kota @Html.DisplayFor(model => model.KotaK)<br />
                Telp.@Html.DisplayFor(model => model.NoTelepon)<br />
                HP.@Html.DisplayFor(model => model.NoHandphone)
            </td>
            <td style="word-wrap:break-word">
                @Html.DisplayFor(model => model.Merek)<br />
                @Html.DisplayFor(model => model.NamaBarang)<br />
                @Html.DisplayFor(model => model.Warna)<br /><br />
                @Html.DisplayFor(model => model.Noka1)<br />
                @Html.DisplayFor(model => model.Nosin1)<br />
                @Html.DisplayFor(model => model.NoRangka)<br />
                @Html.DisplayFor(model => model.NoMesin)<br /><br />
                Dikirim/Diambil:<br />
                @DateTime.Now.ToString("dd MMMM yyyy")
            </td>

            <td style="word-wrap:break-word">
                @String.Format("{0:c}", Model.HargaOtr1)<br />
                @Html.DisplayFor(model => model.KategoriPenjualan)<br />
                @Html.DisplayFor(model => model.Mediator1)<br /><br />
                @Html.DisplayFor(model => model.NamaSales)<br />
                @Html.DisplayFor(model => model.NamaLeasing)<br />
                @Html.DisplayFor(model => model.CabangLeasing)

            </td>
            <td>
                @String.Format("{0:c}", Model.UangMuka)<br />
                <u> @String.Format("{0:c}", Model.DiskonKredit1)</u><br />
                @string.Format("{0:c}", Model.DpBayar)

            </td>
            <td>
                @String.Format("{0:c}", Model.HargaOtr1)<br />
                <u> @String.Format("{0:c}", Model.UangMuka)</u><br />
                @String.Format("{0:c}", Model.HargaTagihan)<br />
                @String.Format("{0:c}", Model.JoinPromo1)<br />
                <br />
                @Html.DisplayFor(model => model.NoBuku)<br />
                @Html.DisplayFor(model => model.Keterangan)

            </td>
        </tr>
    </table>
    <table>
        <colgroup>
            <col />
            <col />
            <col />
        </colgroup>
        <tr style="font-size:smaller;vertical-align:top">
            <td style="font-size:smaller">
                <br />
                @Html.DisplayFor(model => model.NamaKonsumen)<br />
                STNK:@Html.DisplayFor(model => model.NamaBPKB)<br />
                @Html.DisplayFor(model => model.AlamatKonsumen)<br />
                Kel.@Html.DisplayFor(model => model.KelurahanK)<br /> Kec.@Html.DisplayFor(model => model.KecamatanK)<br />
                Kota @Html.DisplayFor(model => model.KotaK)<br />

            </td>
            <td style="font-size:smaller">
                <br />
                @Html.DisplayFor(model => model.Merek)<br />
                @Html.DisplayFor(model => model.NamaBarang)<br />
                @Html.DisplayFor(model => model.Warna)<br /><br />
                @Html.DisplayFor(model => model.Noka1)
                @Html.DisplayFor(model => model.Nosin1)<br />
                @Html.DisplayFor(model => model.NoRangka)
                @Html.DisplayFor(model => model.NoMesin)<br /><br />

            </td>
            <td style="font-size:smaller">
                <br />
                @Html.DisplayFor(model => model.NamaLeasing)<br />
                @Html.DisplayFor(model => model.CabangLeasing)<br />
                Dikirim/Diambil:<br />
                @DateTime.Now.ToString("dd MMMM yyyy")
            </td>
        </tr>
    </table>
    <table>
        <colgroup>
            <col />
            <col />
            <col />
        </colgroup>
        <tr style="font-size:smaller;vertical-align:top">
            <td style="font-size:smaller">
                <br />
                @Html.DisplayFor(model => model.NamaKonsumen)<br />
                STNK:@Html.DisplayFor(model => model.NamaBPKB)<br />
                @Html.DisplayFor(model => model.AlamatKonsumen)<br />
                Kel.@Html.DisplayFor(model => model.KelurahanK)<br /> Kec.@Html.DisplayFor(model => model.KecamatanK)<br />
                Kota @Html.DisplayFor(model => model.KotaK)<br />

            </td>
            <td style="font-size:smaller">
                <br />
                @Html.DisplayFor(model => model.Merek)<br />
                @Html.DisplayFor(model => model.NamaBarang)<br />
                @Html.DisplayFor(model => model.Warna)<br /><br />
                @Html.DisplayFor(model => model.Noka1)
                @Html.DisplayFor(model => model.Nosin1)<br />
                @Html.DisplayFor(model => model.NoRangka)
                @Html.DisplayFor(model => model.NoMesin)<br /><br />

            </td>
            <td style="font-size:smaller">
                <br />
                @Html.DisplayFor(model => model.NamaLeasing)<br />
                @Html.DisplayFor(model => model.CabangLeasing)<br />
                Dikirim/Diambil:<br />
                @DateTime.Now.ToString("dd MMMM yyyy")
            </td>
        </tr>
    </table>
    <p>Printed by:@UserManager.GetUserName(User) @DateTime.Now</p>
</div>


<script>
    var Terbilang = (function (idx) {
        var testangka1 = idx;
        bilangan = String(testangka1);
        var hasil = $('#terbilang');
        var angka = new Array('0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0');
        var kata = new Array('', 'Satu', 'Dua', 'Tiga', 'Empat', 'Lima', 'Enam', 'Tujuh', 'Delapan', 'Sembilan');
        var tingkat = new Array('', 'Ribu', 'Juta', 'Milyar', 'Triliun');
        var panjang_bilangan = bilangan.length;

        /* pengujian panjang bilangan
        if (panjang_bilangan > 15) {
            kaLimat = "Diluar Batas";

            hasil.val(kaLimat);
            hasil.change();

        } */

        /* mengambil angka-angka yang ada dalam bilangan, dimasukkan ke dalam array */
        for (i = 1; i <= panjang_bilangan; i++) {
            angka[i] = bilangan.substr(-(i), 1);
        }

        i = 1;
        j = 0;
        kaLimat = "";


        /* mulai proses iterasi terhadap array angka */
        while (i <= panjang_bilangan) {

            subkaLimat = "";
            kata1 = "";
            kata2 = "";
            kata3 = "";

            /* untuk Ratusan */
            if (angka[i + 2] != "0") {
                if (angka[i + 2] == "1") {
                    kata1 = "Seratus";
                } else {
                    kata1 = kata[angka[i + 2]] + " Ratus";
                }
            }

            /* untuk Puluhan atau Belasan */
            if (angka[i + 1] != "0") {
                if (angka[i + 1] == "1") {
                    if (angka[i] == "0") {
                        kata2 = "Sepuluh";
                    } else if (angka[i] == "1") {
                        kata2 = "Sebelas";
                    } else {
                        kata2 = kata[angka[i]] + " Belas";
                    }
                } else {
                    kata2 = kata[angka[i + 1]] + " Puluh";
                }
            }

            /* untuk Satuan */
            if (angka[i] != "0") {
                if (angka[i + 1] != "1") {
                    kata3 = kata[angka[i]];
                }
            }

            /* pengujian angka apakah tidak nol semua, lalu ditambahkan tingkat */
            if ((angka[i] != "0") || (angka[i + 1] != "0") || (angka[i + 2] != "0")) {
                subkaLimat = kata1 + " " + kata2 + " " + kata3 + " " + tingkat[j] + " ";
            }

            /* gabungkan variabe sub kaLimat (untuk Satu blok 3 angka) ke variabel kaLimat */
            kaLimat = subkaLimat + kaLimat;
            i = i + 3;
            j = j + 1;

        }

        /* mengganti Satu Ribu jadi Seribu jika diperlukan */
        if ((angka[5] == "0") && (angka[6] == "0")) {
            kaLimat = kaLimat.replace("Satu Ribu", "Seribu");
        }

        return kaLimat + "Rupiah";
    });

    $(document).ready(function ()
    {
            var bnm = Terbilang(@Html.DisplayFor(model => model.DiskonKredit1));
            $('#TerbilangDiskon').text(bnm);



     });


</script>


