@model IEnumerable<SmmCoreDDD2019.Common.Identity.ViewModel.Account.UserListViewModel>
    @using SmmCoreDDD2019.Common.Identity.ViewModel.Account
    @{
        ViewData["Title"] = "Index2";
        Layout = "~/Views/Shared/_AdminlteCreate.cshtml";
    }
    <div class="panel panel-primary">
        <div class="panel-heading panel-head">Users</div>
        <div class="panel-body">
            <div class="btn-group">
                @*<a id="createEditUserModal" data-toggle="modal" asp-action="AddUser2" class="btn btn-primary">
                        <i class="glyphicon glyphicon-plus"></i>  Add User
                    </a>*@
                <button id="AddUser2" type="button" class="btn btn-info" data-toggle="modal" data-target="#modal-default">
                    Add User
                </button>
            </div>
            <div class="modal fade" id="modal-default">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>

                        </div>
                        <div class="modal-body">
                            @*<p>One fine body&hellip;</p>*@


                        </div>
                        @*<div class="modal-footer">
                                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>*@
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <div class="top-buffer"></div>
            <table class="table table-bordered table-striped table-condensed" style="width:auto">
                <thead>
                    <tr>
                        <th>Profile Picture</th>
                        <th style="white-space:nowrap">User Name</th>
                        <th>Email</th>
                        <th>NoHandphone</th>
                        <th>Action</th>
                        <th>Two-Factor Authentication</th>
                        <th>Account Lock / UnLock</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <img id="profilePicture" class="profile-user-img img-responsive img-circle" src=" @item.ProfilePictureUrl" alt="User profile picture">
                            </td>
                            <td>@item.UserName</td>
                            <td>
                                <form method="post">
                                    <div asp-validation-summary="All" class="text-danger"></div>
                                    <div class="form-group" style="white-space:nowrap">
                                        @if (item.IsEmailConfirmed)
                                        {
                                            <div class="input-group">

                                                <input disabled asp-for="@item.Email" class="form-control" />
                                                <span style="font-size:8px;width:auto" class="input-group-addon" aria-hidden="true"><span style="font-size:8px;width:auto" class="glyphicon glyphicon-ok text-success"></span></span>


                                            </div>
                                        }
                                        else
                                        {
                                            <input style="width:auto" asp-for="@item.Email" class="form-control" />
                                            <button asp-controller="User" asp-action="SendVerificationEmail" class="btn btn-link">Send verification email</button>
                                        }
                                        <span asp-validation-for="@item.Email" class="text-danger"></span>
                                    </div>
                                </form>
                            </td>


                            <td>
                                <form method="post">
                                    <div asp-validation-summary="All" class="text-danger"></div>
                                    <div class="form-group">
                                        @if (item.IsPhoneNumberConfirmed)
                                        {
                                            <div class="input-group">
                                                <input disabled asp-for="@item.PhoneNumber" class="form-control" />
                                                <span style="font-size:8px;width:auto" class="input-group-addon" aria-hidden="true"><span style="font-size:8px;width:auto" class="glyphicon glyphicon-ok text-success"></span></span>

                                            </div>
                                        }
                                        else
                                        {
                                            <input style="width:auto" asp-for="@item.PhoneNumber" class="form-control" />
                                            <button asp-controller="User" asp-action="SendVerificationSMS" class="btn btn-link">Send verification SMS</button>
                                        }
                                        <span asp-validation-for="@item.Email" class="text-danger"></span>
                                    </div>
                                </form>


                            </td>
                            <td>
                                <button id="editUserModal" type="button" class="btn btn-info" data-id="@item.Id" data-toggle="modal" data-target="#modal-default">
                                    Edit
                                </button>
                                <button id="editUserRole" type="button" class="btn btn-info" data-id="@item.Id" data-toggle="modal" data-target="#modal-default">
                                    Edit Role
                                </button>
                                <button id="editUserPWDModal" type="button" class="btn btn-info" data-id="@item.Id" data-toggle="modal" data-target="#modal-default">
                                    Reset Password
                                </button>
                                @*<a  asp-action="EditUser2" asp-route-id="@item.Id"
                                       class="btn btn-info">
                                        <i class="glyphicon glyphicon-pencil"></i>  Edit
                                    </a>*@
                                @*<a id="editUserPWDModal" data-toggle="modal" asp-action="EditUserPWD2" asp-route-id="@item.Id"
                                       class="btn btn-info">
                                        <i class="glyphicon glyphicon-pencil"></i>  Reset Password
                                    </a>*@
                                @*<a  id="deleteUserModal" data-toggle="modal" asp-action="DeleteUser2" asp-route-id="@item.Id" class="btn btn-danger">
                                        <i class="glyphicon glyphicon-trash"></i>  Delete
                                    </a>*@


                            </td>
                            <td>

                                @if (item.TwoFactor)
                                {
                                    <form method="post">
                                        <p>Enabled</p>
                                        <button asp-route-UserName="@item.UserName" asp-controller="User" asp-action="DisableTwoFactorAuthentication2" class="btn btn-link">Disable</button>
                                    </form>
                                }
                                else
                                {
                                    <form method="post">
                                        <button asp-route-UserName="@item.UserName" asp-controller="User" asp-action="EnableTwoFactorAuthentication2" class="btn btn-link">Enable</button>
                                        <p>Disabled</p>
                                    </form>
                                }

                            </td>
                            <td>
                                @if (item.IsEnabled)
                                {
                                    <form method="post">
                                        <p>Enabled</p>
                                        <button asp-route-UserName="@item.UserName" asp-controller="User" asp-action="DisableAccount" class="btn btn-link">Disable</button>
                                    </form>
                                }
                                else
                                {
                                    <form method="post">
                                        <button asp-route-UserName="@item.UserName" asp-controller="User" asp-action="EnableAccount" class="btn btn-link">Enable</button>
                                        <p>Disabled</p>
                                    </form>
                                }
                            </td>


                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <script>
    $(document).ready(function ()
    {

        $('#AddUser2').click(function ()
        {
            showModal('/User/AddUser2');
        });

        $('#editUserModal').click(function () {
            var id = $(this).data('id');
            var url = "/User/EditUser2/"+id;

            showModal(url);
        });

        $('#editUserRole').click(function () {
            var id = $(this).data('id');
            var url = "/User/EditRole/" + id;

            showModal(url);
        });

        $('#editUserPWDModal').click(function () {
            var id = $(this).data('id');
            var url = "/User/EditUserPWD2/" + id;

            showModal(url);
        });


        //showing modal form
        window.showModal = showModal;
        function showModal(url)
        {
            $.get(url)
                .done(function (response)
                {

                    $('.modal-body').html(response);

                    $('#modal-default').modal({
                        backdrop: 'static',
                        keyboard: false,
                        focus: true
                    });

                });
        }


    });





    </script>
