@model IEnumerable<SmmCoreDDD2019.Application.PenjualanDetails.Query.GetDataCekDPPenjualan.GetDataCekDPPenjualanLookUpModel>
@{
    ViewData["Title"] = "CekPembayaranLeasingDetail";
    Layout = "~/Views/Shared/_AdminlteCreate.cshtml";
}

<script>
    function onlyNumbers(evt) {
        var e = event || evt; // for trans-browser compatibility
        var charCode = e.which || e.keyCode;

        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;

    };



</script>


<div>
    <form asp-controller="LeasingCetak" asp-action="CekByrLeasingDet" method="post">
        <table>
            <tr>
                <td>

                    Data
                    <select name="KodePj1a" id="KodePj1a" asp-items="ViewBag.DataPj1"></select>
                    <input name="submit" type="submit" value="Cari" class="btn btn-default" /><br />

                    <input hidden name="tgl1a" value="@ViewBag.Tgl1a" />
                    <input hidden name="tgl2a" value="@ViewBag.Tgl2a" />
                    <input hidden name="tgl1" value="@ViewBag.Tgl1a" />
                    <input hidden name="tgl2" value="@ViewBag.Tgl2a" />
                    <input hidden name="KodePj1b" value="@ViewBag.KodePj1b" />
                    <input hidden name="KodeLeasing" value="@ViewBag.KodeLeasing" />




                </td>
                <td></td>
            </tr>
        </table>
        <table class="table-condensed">
            <tr>
                <td>Tanggal Pembayaran Leasing<input type="text" name="TglLunasLeasing" id="datepicker1" /></td>
            </tr>
            <tr><td>Keterangan <input name="Ket1" /></td></tr>
            <tr><td>  <input name="submit" type="submit" value="Cek" class="btn btn-default" /><br /></td></tr>
        </table>


        <input hidden name="tgl1b" value="@ViewBag.Tgl1a" />
        <input hidden name="tgl2b" value="@ViewBag.Tgl2a" />
        <script>
            $('#datepicker1').datepicker({
                changeMonth: true,
                changeYear: true,
                appendText: "(Tanggal-Bulan-Tahun)",
                dateFormat: "dd-mm-yy",
                yearRange: "c-100:c+10"

            });

        </script>
        <table class="table table-bordered" width="100%">


            @if (Model == null)
            {



            }
            else
            {
                foreach (var item in Model)
                {
                    <tr>
                        <th>
                            Kode Konsumen:

                        </th>
                        <th>Nama Konsumen</th>
                        <th>Nama BPKB</th>
                        <th>Nama Faktur</th>
                        <th>Tgl Penjualan</th>
                        <th>Sales Force</th>
                        <th>Kategori Penjualan</th>
                        <th>Mediator</th>


                    </tr>

                    <tr>
                        <td>
                            @item.KodeKonsumen<br />
                            <a asp-controller="Customers" asp-action="Edit" asp-route-id="@item.KodeKonsumen">Edit</a>

                        </td>
                        <td>@item.NamaKonsumen</td>
                        <td>@item.NamaBPKB</td>
                        <td>@item.NamaFaktur</td>
                        <td>@string.Format("{0:d}", item.TanggalPenjualan)</td>
                        <td>@item.SalesForce</td>
                        <td>@item.KategoriPenjualan</td>
                        <td>@item.Mediator1</td>

                    </tr>
                    <tr>
                        <th>Tgl Beli</th>
                        <th>Nama Barang</th>
                        <th>Warna</th>
                        <th>No Mesin</th>
                        <th>No Rangka</th>
                        <th>Merek</th>
                        <th>Diskon Unit</th>
                        <th>Sell In</th>
                        <th>Supplier</th>
                    </tr>

                    <tr>
                        <td>@string.Format("{0:d}", item.TanggalBeliUnit)</td>
                        <td>@item.NamaBarang</td>
                        <td>@item.Warna</td>
                        <td>@item.NoMesin</td>
                        <td>@item.NoRangka</td>
                        <td>@item.Merek</td>
                        <td>@string.Format("{0:c}", item.DiskonUnit)</td>
                        <td>@string.Format("{0:c}", item.SellIn) </td>
                        <td>@item.NamaSupplier</td>
                    </tr>

                    <tr>
                        <th>Kode Penjualan</th>
                        <th>Lease</th>
                        <th>Cabang Lease</th>
                        <th>No PO</th>
                        <th>No Buku</th>
                        @*<th>Tgl Pelunasan</th>*@
                        <th>Margin</th>
                    </tr>

                    <tr>
                        <td>
                            @item.NoUrutPenjualan<br />
                            <input hidden name="KodePj1n" value="@item.NoUrutPenjualan" />
                            @*<a asp-controller="Penjualans" asp-action="Edit" asp-route-id="@item.NoUrutPJ">Edit</a>*@
                        </td>
                        <td>@item.NamaLeasing</td>
                        <td>@item.CabangLeasing</td>
                        <td>@item.NomorPO</td>
                        <td>@item.NoBuku1</td>
                        @*<td>@string.Format("{0:d}", item.TglLunasLeasing1) </td>*@
                        <td>@string.Format("{0:c}", item.ProfitUnit)</td>

                    </tr>
                    <tr>
                        <th>
                            Kode Pj Detail :

                        </th>
                        <th>Harga OTR</th>
                        <th>Uang Muka</th>
                        <th>Diskon Kredit</th>
                        <th>DP Bayar</th>
                        <th>Diskon Tunai</th>
                        <th>Subsdi</th>
                        <th>Promosi</th>
                        <th>Komisi</th>
                        <th>Insentif Lease</th>

                    </tr>
                    <tr>
                        <td>
                            <input hidden name="NourutPjDetaila" value="@item.NoUrutPenjualanDetail" />

                            @item.NoUrutPenjualanDetail <br />
                            <a asp-controller="PenjualanDetails" asp-action="Edit" asp-route-id="@item.NoUrutPenjualanDetail">Edit</a>
                        </td>
                        <td>@string.Format("{0:c}", item.HargaOTR)</td>
                        <td>@string.Format("{0:c}", item.UangMuka)</td>
                        <td>@string.Format("{0:c}", item.DiskonKredit)</td>
                        <td>@string.Format("{0:c}", item.DPBayar)</td>
                        <td>@string.Format("{0:c}", item.DiskonTunai)</td>
                        <td>@string.Format("{0:c}", item.Subsidi1)</td>
                        <td>@string.Format("{0:c}", item.Promosi1)</td>
                        <td>@string.Format("{0:c}", item.Komisi1)</td>
                        <td>@string.Format("{0:c}", item.JoinPromo2)</td>

                    </tr>

                    <tr>
                        <th>SPF</th>
                        <th>Sell Out</th>
                        <th>Denda Wilayah</th>
                        <th>Tagihan</th>
                        <th>Sub Lease</th>
                        <th>Total Tagihan</th>
                    </tr>
                    <tr>
                        <td>@string.Format("{0:c}", item.SPF1)</td>
                        <td>@string.Format("{0:c}", item.SellOut1)</td>
                        <td>@string.Format("{0:c}", item.DendaWilayah1)</td>
                        <td>@string.Format("{0:c}", item.Tagihan1)</td>
                        <td>@string.Format("{0:c}", item.JoinPromo1)</td>
                        <td>@string.Format("{0:c}", item.TotalTagihan1)</td>
                    </tr>



                }
            }
        </table>
    </form>
</div>



