@model SmmCoreDDD2019.Application.StokUnits.Command.CreateStokUnit.CreateStokUnitCommand

@{

  //  Layout = "~/Views/Shared/_AdminlteCreate.cshtml";
}


<hr />

<div class="row ">
    <div class="col-md-12">
        <form asp-action="InputStokUnit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <table class="table table-bordered table-striped grid text-nowrap table-responsive " style="border:double" width="200">
                <tr hidden>
                    <td>  <label asp-for="KodeBeliDetail" class="control-label"></label></td>
                    <td width="75%">
                        <input value="@ViewBag.KodeBeliDetail1" asp-for="KodeBeliDetail" class="form-control" />
                        <input name="KodeBeli1" value="@ViewBag.KodeBeli1" />
                        <span asp-validation-for="KodeBeliDetail" class="text-danger"></span>
                    </td>
                </tr>
                <tr hidden>
                    <td>  <label asp-for="KodeBrg" class="control-label"></label></td>
                    <td>
                        <input value="@ViewBag.KodeBrg1" asp-for="KodeBrg" class="form-control" />
                        <span asp-validation-for="KodeBrg" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td>  <label class="control-label"></label>Nama Barang</td>
                    <td width="75%">
                        <input readonly value="@ViewBag.NamaBrg1" class="form-control" />

                    </td>
                </tr>
                <tr>
                    <td>  <label asp-for="Harga" class="control-label"></label></td>
                    <td>
                        <input readonly value="@ViewBag.Harga1" asp-for="Harga" class="form-control" />
                        <span asp-validation-for="Harga" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td>  <label asp-for="Diskon" class="control-label"></label></td>
                    <td>
                        <input readonly value="@ViewBag.Diskon1" asp-for="Diskon" class="form-control" />
                        <span asp-validation-for="Diskon" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td>  <label asp-for="SellIn" class="control-label"></label></td>
                    <td>
                        <input readonly value="@ViewBag.SellIn1" asp-for="SellIn" class="form-control" />
                        <span asp-validation-for="SellIn" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td> <label asp-for="NoRangka" class="control-label"></label></td>
                    <td>
                        <input asp-for="NoRangka" class="form-control" />
                        <span asp-validation-for="NoRangka" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td>  <label asp-for="NoMesin" class="control-label"></label></td>
                    <td>
                        <input asp-for="NoMesin" class="form-control" />
                        <span asp-validation-for="NoMesin" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td>  <label asp-for="Warna" class="control-label"></label></td>
                    <td>
                        <input asp-for="Warna" class="form-control" />
                        <span asp-validation-for="Warna" class="text-danger"></span>
                    </td>
                </tr>


            </table>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />

            </div>
        </form>
        <div>
            <a asp-controller="Pembelian" asp-action="GetListPembelianDetail1A">Kembali ke awal</a>
        </div>
    </div>
</div>

<hr />
<hr />
<div>
    <div><h1>Rincian Unit</h1></div>
    <table class="table table-bordered table-striped grid text-nowrap table-responsive " style="border:double">
        <thead>
            <tr>
                <td>Nama Barang - Off The Road - BBN - OTR</td>
                <td>No Rangka</td>
                <td>No Mesin</td>
                <td>Warna</td>
            </tr>
        </thead>
        <tbody>

            @{
                if (ViewBag.StokUnitItems != null)
                {
                    foreach (var item in ViewBag.StokUnitItems)
                    {
                        <tr>
                            <td>@item.NamaBarang1</td>
                            <td>@item.NoRangka1</td>
                            <td>@item.NoMesin1</td>
                            <td>@item.Warna1</td>
                        </tr>
                    }
                }

            }

        </tbody>

    </table>

</div>
<script></script>

