@model SmmCoreDDD2019.Application.DataKontrakSurveiDBs.Command.CreateDataKontrakSurvei.CreateDataKontrakSurveiCommand

@{
    //  ViewData["Title"] = "CreateDataKontrakSurvei";
    //Layout = "~/Views/Shared/_AdminlteCreate.cshtml";
}

<hr />
<div class="row">
    <div class="col-md-10">
        <form asp-action="CreateDataKontrakSurvei">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @*<div class="col-md-5">
                        <div class="form-group">

                            <label asp-for="NoUrutDataSurvei" class="control-label"></label>

                            <input asp-for="NoUrutDataSurvei" class="form-control" />
                            <span asp-validation-for="NoUrutDataSurvei" class="text-danger"></span>


                        </div>
                    </div>*@
                @*<div class="col-md-5">
                        <div class="form-group">

                            <label asp-for="NoRegistrasiDataSurvei" class="control-label"></label>

                            <input asp-for="NoRegistrasiDataSurvei" class="form-control" />
                            <span asp-validation-for="NoRegistrasiDataSurvei" class="text-danger"></span>

                        </div>
                    </div>*@
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <div class="form-group">
                        <label asp-for="NoRegistrasiKonsumen" class="control-label"></label>
                        <select asp-items="@ViewBag.NamaKonsumen1" asp-for="NoRegistrasiKonsumen" class="form-control"></select>
                        <span asp-validation-for="NoRegistrasiKonsumen" class="text-danger"></span>



                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">

                        <label asp-for="Karakter" class="control-label"></label>
                        <select asp-items="@ViewBag.Karakter" asp-for="Karakter" class="form-control"></select>
                        <span asp-validation-for="Karakter" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-5">
                    <div class="form-group">
                        <label asp-for="Kerjasama" class="control-label"></label>
                        <select asp-items="@ViewBag.Kerjasama" asp-for="Kerjasama" class="form-control"></select>
                        <span asp-validation-for="Kerjasama" class="text-danger"></span>


                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label asp-for="Penghasilan" class="control-label"></label>

                        <input id="Penghasilan1" asp-for="Penghasilan" class="form-control" />
                        <span asp-validation-for="Penghasilan" class="text-danger"></span>


                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-5">
                    <div class="form-group">

                        <label asp-for="Penghasilanlain" class="control-label"></label>

                        <input id="Penghasilanlain1" asp-for="Penghasilanlain" class="form-control" />
                        <span asp-validation-for="Penghasilanlain" class="text-danger"></span>


                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label asp-for="PenghasilanPasangan" class="control-label"></label>

                        <input id="PenghasilanPasangan1" asp-for="PenghasilanPasangan" class="form-control" />
                        <span asp-validation-for="PenghasilanPasangan" class="text-danger"></span>


                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-5">
                    <div class="form-group">
                        <label asp-for="PengeluaranTetapBulanan" class="control-label"></label>
                        <input id="PengeluaranTetapBulanan1" asp-for="PengeluaranTetapBulanan" class="form-control" />
                        <span asp-validation-for="PengeluaranTetapBulanan" class="text-danger"></span>



                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label asp-for="Tanggungan" class="control-label"></label>
                        <select asp-for="Tanggungan" class="form-control" asp-items="@ViewBag.JumlahTanggungan"></select>

                        <span asp-validation-for="Tanggungan" class="text-danger"></span>


                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-5">
                    <div class="form-group">
                        <label asp-for="StatusTempatTinggal" class="control-label"></label>
                        <select asp-items="@ViewBag.StatusRumah" asp-for="StatusTempatTinggal" class="form-control"></select>

                        <span asp-validation-for="StatusTempatTinggal" class="text-danger"></span>



                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label asp-for="TinggalSejak" class="control-label"></label>

                        <input id="TinggalSejak1" asp-for="TinggalSejak" class="form-control" />
                        <span asp-validation-for="TinggalSejak" class="text-danger"></span>


                    </div>
                </div>
            </div>
            <div class="form-group">

                <div class="col-md-5">
                    <div class="form-group">
                        <label asp-for="KodeBidangPekerjaan" class="control-label"></label>
                        <select asp-items="@ViewBag.NamaBidangPekerjaan1" asp-for="KodeBidangPekerjaan" class="form-control"></select>

                        <span asp-validation-for="KodeBidangPekerjaan" class="text-danger"></span>


                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-5">
                    <div class="form-group">
                        <label asp-for="NamaBidangPekerjaan" class="control-label"></label>

                        <input asp-for="NamaBidangPekerjaan" class="form-control" />
                        <span asp-validation-for="NamaBidangPekerjaan" class="text-danger"></span>



                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label asp-for="KodeBidangUsaha" class="control-label"></label>
                        <select asp-items="@ViewBag.NamaBidangUsaha1" asp-for="KodeBidangUsaha" class="form-control"></select>

                        <span asp-validation-for="KodeBidangUsaha" class="text-danger"></span>


                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-5">
                    <div class="form-group">

                        <label asp-for="NamaBidangUsaha" class="control-label"></label>
                        <input asp-for="NamaBidangUsaha" class="form-control" />
                        <span asp-validation-for="NamaBidangUsaha" class="text-danger"></span>


                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label asp-for="OmzetBulanan" class="control-label"></label>

                        <input id="OmzetBulanan1" asp-for="OmzetBulanan" class="form-control" />
                        <span asp-validation-for="OmzetBulanan" class="text-danger"></span>


                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-5">
                    <div class="form-group">

                        <label asp-for="PernahKredit" class="control-label"></label>
                        <select asp-items="@ViewBag.PernahKredit" asp-for="PernahKredit" class="form-control"></select>

                        <span asp-validation-for="PernahKredit" class="text-danger"></span>


                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label asp-for="NoUrutMasterBarang" class="control-label"></label>

                        <select asp-for="NoUrutMasterBarang" class="form-control" asp-items="@ViewBag.NamaBarang"></select>
                        <span asp-validation-for="NoUrutMasterBarang" class="text-danger"></span>


                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-5">
                    <div class="form-group">

                        <label asp-for="FasilitasKreditBank" class="control-label"></label>

                        <input asp-for="FasilitasKreditBank" class="form-control" />
                        <span asp-validation-for="FasilitasKreditBank" class="text-danger"></span>


                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label asp-for="JenisFasilitasbank" class="control-label"></label>

                        <input asp-for="JenisFasilitasbank" class="form-control" />
                        <span asp-validation-for="JenisFasilitasbank" class="text-danger"></span>


                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-5">
                    <div class="form-group">

                        <label asp-for="NamaRekeningBank" class="control-label"></label>

                        <input asp-for="NamaRekeningBank" class="form-control" />
                        <span asp-validation-for="NamaRekeningBank" class="text-danger"></span>


                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label asp-for="NoRekeningBank" class="control-label"></label>

                        <input id="NoRekeningBank1" asp-for="NoRekeningBank" class="form-control" />
                        <span asp-validation-for="NoRekeningBank" class="text-danger"></span>


                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-5">
                    <div class="form-group">

                        <label asp-for="LuasRumah" class="control-label"></label>

                        <input asp-for="LuasRumah" class="form-control" />
                        <span asp-validation-for="LuasRumah" class="text-danger"></span>


                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label asp-for="LuasTanah" class="control-label"></label>
                        <input asp-for="LuasTanah" class="form-control" />
                        <span asp-validation-for="LuasTanah" class="text-danger"></span>


                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-5">
                    <div class="form-group">

                        <label asp-for="LuasUsaha" class="control-label"></label>

                        <input asp-for="LuasUsaha" class="form-control" />
                        <span asp-validation-for="LuasUsaha" class="text-danger"></span>


                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">

                        <label asp-for="DayaListrikRumah" class="control-label"></label>

                        <input asp-for="DayaListrikRumah" class="form-control" />
                        <span asp-validation-for="DayaListrikRumah" class="text-danger"></span>

                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-5">
                    <div class="form-group">

                        <label asp-for="TagihanPLN" class="control-label"></label>

                        <input id="TagihanPLN1" asp-for="TagihanPLN" class="form-control" />
                        <span asp-validation-for="TagihanPLN" class="text-danger"></span>


                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label asp-for="TagihanTelp" class="control-label"></label>

                        <input id="TagihanTelp1" asp-for="TagihanTelp" class="form-control" />
                        <span asp-validation-for="TagihanTelp" class="text-danger"></span>


                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-5">
                    <div class="form-group">

                        <label asp-for="TagihanPDAM" class="control-label"></label>

                        <input id="TagihanPDAM1" asp-for="TagihanPDAM" class="form-control" />
                        <span asp-validation-for="TagihanPDAM" class="text-danger"></span>


                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label asp-for="KondisiFisikRumah" class="control-label"></label>
                        <select asp-items="@ViewBag.KondisiFisikRumah" asp-for="KondisiFisikRumah" class="form-control"></select>

                        <span asp-validation-for="KondisiFisikRumah" class="text-danger"></span>


                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-5">
                    <div class="form-group">
                        <label asp-for="SegmenRumah" class="control-label"></label>
                        <select asp-items="@ViewBag.SegmenRumah" asp-for="SegmenRumah" class="form-control"></select>

                        <span asp-validation-for="SegmenRumah" class="text-danger"></span>



                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label asp-for="KondisiJalanRumah" class="control-label"></label>
                        <select asp-items="@ViewBag.KondisiJalanRumah" asp-for="KondisiJalanRumah" class="form-control"></select>

                        <span asp-validation-for="KondisiJalanRumah" class="text-danger"></span>


                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-5">
                    <div class="form-group">
                        <label asp-for="PagarRumah" class="control-label"></label>
                        <select asp-items="@ViewBag.KondisiPagar" asp-for="PagarRumah" class="form-control"></select>

                        <span asp-validation-for="PagarRumah" class="text-danger"></span>



                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">

                        <label asp-for="TamanRumah" class="control-label"></label>
                        <select asp-items="@ViewBag.KondisiTanaman" asp-for="TamanRumah" class="form-control"></select>

                        <span asp-validation-for="TamanRumah" class="text-danger"></span>

                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-5">
                    <div class="form-group">

                        <label asp-for="GarasiRumah" class="control-label"></label>
                        <select asp-for="GarasiRumah" class="form-control" asp-items="@ViewBag.GarasiRumah"> </select>

                        <span asp-validation-for="GarasiRumah" class="text-danger"></span>


                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">

                        <label asp-for="KapasitasGarasiRumah" class="control-label"></label>

                        <input asp-for="KapasitasGarasiRumah" class="form-control" />
                        <span asp-validation-for="KapasitasGarasiRumah" class="text-danger"></span>

                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-5">
                    <div class="form-group">

                        <label asp-for="DindingRumah" class="control-label"></label>
                        <select asp-items="@ViewBag.DindingRumah" asp-for="DindingRumah" class="form-control"></select>

                        <span asp-validation-for="DindingRumah" class="text-danger"></span>


                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label asp-for="AtapRumah" class="control-label"></label>
                        <select asp-items="@ViewBag.AtapRumah" asp-for="AtapRumah" class="form-control"></select>

                        <span asp-validation-for="AtapRumah" class="text-danger"></span>


                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-5">
                    <div class="form-group">

                        <label asp-for="LantaiRumah" class="control-label"></label>
                        <select asp-items="@ViewBag.LantaiRumah" asp-for="LantaiRumah" class="form-control"></select>

                        <span asp-validation-for="LantaiRumah" class="text-danger"></span>


                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">

                        <label asp-for="ToiletRumah" class="control-label"></label>
                        <select asp-items="@ViewBag.Toilet" asp-for="ToiletRumah" class="form-control"></select>

                        <span asp-validation-for="ToiletRumah" class="text-danger"></span>

                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-5">
                    <div class="form-group">

                        <label asp-for="TelevisiRumah" class="control-label"></label></td>
                        <select asp-items="@ViewBag.TV" asp-for="TelevisiRumah" class="form-control"></select>

                        <span asp-validation-for="TelevisiRumah" class="text-danger"></span>


                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label asp-for="Kulkas" class="control-label"></label>
                        <select asp-items="@ViewBag.Kulkas" asp-for="Kulkas" class="form-control"></select>

                        <span asp-validation-for="Kulkas" class="text-danger"></span>


                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-5">
                    <div class="form-group">
                        <label asp-for="LokasiSurvei" class="control-label"></label>
                        <select asp-items="@ViewBag.TempatSurvei" asp-for="LokasiSurvei" class="form-control"></select>

                        <span asp-validation-for="LokasiSurvei" class="text-danger"></span>



                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label asp-for="LokasiTempatTinggal" class="control-label"></label>

                        <select asp-items="@ViewBag.LokasiTempatTinggal" asp-for="LokasiTempatTinggal" class="form-control"></select>
                        <span asp-validation-for="LokasiTempatTinggal" class="text-danger"></span>


                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <div class="form-group">

                        <label asp-for="NamaMendesak" class="control-label"></label>

                        <input asp-for="NamaMendesak" class="form-control" />
                        <span asp-validation-for="NamaMendesak" class="text-danger"></span>


                    </div>
                </div>
                <div class="col-md-10">
                    <div class="form-group">
                        <label asp-for="AlamatMendesak" class="control-label"></label>

                        <input asp-for="AlamatMendesak" class="form-control" />
                        <span asp-validation-for="AlamatMendesak" class="text-danger"></span>


                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-5">
                    <div class="form-group">

                        <label asp-for="KelurahanMendesak" class="control-label"></label>

                        <input asp-for="KelurahanMendesak" class="form-control" />
                        <span asp-validation-for="KelurahanMendesak" class="text-danger"></span>


                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label asp-for="KecamatanMendesak" class="control-label"></label>

                        <input asp-for="KecamatanMendesak" class="form-control" />
                        <span asp-validation-for="KecamatanMendesak" class="text-danger"></span>


                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-5">
                    <div class="form-group">

                        <label asp-for="KotaMendesak" class="control-label"></label>
                        <input asp-for="KotaMendesak" class="form-control" />
                        <span asp-validation-for="KotaMendesak" class="text-danger"></span>


                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label asp-for="PropinsiMendesak" class="control-label"></label>

                        <input asp-for="PropinsiMendesak" class="form-control" />
                        <span asp-validation-for="PropinsiMendesak" class="text-danger"></span>


                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-5">
                    <div class="form-group">
                        <label asp-for="KodePosMendesak" class="control-label"></label>

                        <input id="KodePosMendesak1" asp-for="KodePosMendesak" class="form-control" />
                        <span asp-validation-for="KodePosMendesak" class="text-danger"></span>



                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label asp-for="TelpMendesak" class="control-label"></label>

                        <input id="TelpMendesak1" asp-for="TelpMendesak" class="form-control" />
                        <span asp-validation-for="TelpMendesak" class="text-danger"></span>


                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-5">
                    <div class="form-group">

                        <label asp-for="HandphoneMendesak" class="control-label"></label>

                        <input id="HandphoneMendesak1" asp-for="HandphoneMendesak" class="form-control" />
                        <span asp-validation-for="HandphoneMendesak" class="text-danger"></span>


                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label asp-for="HandphoneMendesak2" class="control-label"></label>

                        <input id="HandphoneMendesak2a" asp-for="HandphoneMendesak2" class="form-control" />
                        <span asp-validation-for="HandphoneMendesak2" class="text-danger"></span>


                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-5">
                    <div class="form-group">

                        <label asp-for="HubunganDenganMendesak" class="control-label"></label>
                        <select asp-items="@ViewBag.HubunganDenganKel" asp-for="HubunganDenganMendesak" class="form-control"></select>

                        <span asp-validation-for="HubunganDenganMendesak" class="text-danger"></span>


                    </div>
                </div>
                <div hidden class="col-md-5">
                    <div class="form-group">
                        <label asp-for="SurveiId" class="control-label"></label>

                        <input asp-for="SurveiId" class="form-control" />
                        <span asp-validation-for="SurveiId" class="text-danger"></span>


                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <div class="form-group">

                        <label asp-for="KeteranganLain" class="control-label"></label>
                        <input asp-for="KeteranganLain" class="form-control" />
                        <span asp-validation-for="KeteranganLain" class="text-danger"></span>

                    </div>
                </div>
                <div class="col-md-10">
                    <div class="form-group">
                        <label asp-for="HasilSurvei" class="control-label"></label>
                        <select asp-items="@ViewBag.HasilSurvei" asp-for="HasilSurvei" class="form-control"></select>

                        <span asp-validation-for="HasilSurvei" class="text-danger"></span>


                    </div>
                </div>

            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <div class="form-group">

                        <input type="submit" value="Create" class="btn btn-default" />


                    </div>
                </div>
                <div class="col-md-10">
                    <div class="form-group">


                    </div>
                </div>
            </div>




        </form>
    </div>
</div>
<script>
    $('#Penghasilan1').keypress(function (e) {
        var key = e.which || e.keyCode;
        if (!e.shiftKey && !e.altKey && !e.ctrlKey &&
            // numbers
            key >= 48 && key <= 57 ||
            // Numeric keypad
            key >= 96 && key <= 105 ||
            // Backspace and Tab and Enter
            key == 8 || key == 9 || key == 13 ||
            // Home and End
            key == 35 || key == 36 ||
            // left and right arrows
            key == 37 || key == 39 ||
            // . and ,
            key == 190 || key == 188 ||
            // ATAS and BAWAH
            key == 24 || key == 25 ||
            // KANAN and KIRI
            key == 26 || key == 27 ||
            // Del and Ins
            key == 46 || key == 45)
            return true;

        return false;
    });
    $('#Penghasilan1').keydown(function (e) {
        // return /[0-9]/.test(String.fromCharCode(e.which));
        var key = e.which || e.keyCode;
        if (!e.shiftKey && !e.altKey && !e.ctrlKey &&
            // numbers
            key >= 48 && key <= 57 ||
            // Numeric keypad
            key >= 96 && key <= 105 ||
            // Backspace and Tab and Enter
            key == 8 || key == 9 || key == 13 ||
            // Home and End
            key == 35 || key == 36 ||
            // left and right arrows
            key == 37 || key == 39 ||
            // . and ,
            key == 190 || key == 188 ||
            // ATAS and BAWAH
            key == 24 || key == 25 ||
            // KANAN and KIRI
            key == 26 || key == 27 ||
            // Del and Ins
            key == 46 || key == 45)
            return true;
        return false;
    });
    $('#Penghasilanlain1').keypress(function (e) {
        var key = e.which || e.keyCode;
        if (!e.shiftKey && !e.altKey && !e.ctrlKey &&
            // numbers
            key >= 48 && key <= 57 ||
            // Numeric keypad
            key >= 96 && key <= 105 ||
            // Backspace and Tab and Enter
            key == 8 || key == 9 || key == 13 ||
            // Home and End
            key == 35 || key == 36 ||
            // left and right arrows
            key == 37 || key == 39 ||
            // . and ,
            key == 190 || key == 188 ||
            // ATAS and BAWAH
            key == 24 || key == 25 ||
            // KANAN and KIRI
            key == 26 || key == 27 ||
            // Del and Ins
            key == 46 || key == 45)
            return true;

        return false;
    });
    $('#Penghasilanlain1').keydown(function (e) {
        // return /[0-9]/.test(String.fromCharCode(e.which));
        var key = e.which || e.keyCode;
        if (!e.shiftKey && !e.altKey && !e.ctrlKey &&
            // numbers
            key >= 48 && key <= 57 ||
            // Numeric keypad
            key >= 96 && key <= 105 ||
            // Backspace and Tab and Enter
            key == 8 || key == 9 || key == 13 ||
            // Home and End
            key == 35 || key == 36 ||
            // left and right arrows
            key == 37 || key == 39 ||
            // . and ,
            key == 190 || key == 188 ||
            // ATAS and BAWAH
            key == 24 || key == 25 ||
            // KANAN and KIRI
            key == 26 || key == 27 ||
            // Del and Ins
            key == 46 || key == 45)
            return true;
        return false;
    });
    $('#PenghasilanPasangan1').keypress(function (e) {
        var key = e.which || e.keyCode;
        if (!e.shiftKey && !e.altKey && !e.ctrlKey &&
            // numbers
            key >= 48 && key <= 57 ||
            // Numeric keypad
            key >= 96 && key <= 105 ||
            // Backspace and Tab and Enter
            key == 8 || key == 9 || key == 13 ||
            // Home and End
            key == 35 || key == 36 ||
            // left and right arrows
            key == 37 || key == 39 ||
            // . and ,
            key == 190 || key == 188 ||
            // ATAS and BAWAH
            key == 24 || key == 25 ||
            // KANAN and KIRI
            key == 26 || key == 27 ||
            // Del and Ins
            key == 46 || key == 45)
            return true;

        return false;
    });
    $('#PenghasilanPasangan1').keydown(function (e) {
        // return /[0-9]/.test(String.fromCharCode(e.which));
        var key = e.which || e.keyCode;
        if (!e.shiftKey && !e.altKey && !e.ctrlKey &&
            // numbers
            key >= 48 && key <= 57 ||
            // Numeric keypad
            key >= 96 && key <= 105 ||
            // Backspace and Tab and Enter
            key == 8 || key == 9 || key == 13 ||
            // Home and End
            key == 35 || key == 36 ||
            // left and right arrows
            key == 37 || key == 39 ||
            // . and ,
            key == 190 || key == 188 ||
            // ATAS and BAWAH
            key == 24 || key == 25 ||
            // KANAN and KIRI
            key == 26 || key == 27 ||
            // Del and Ins
            key == 46 || key == 45)
            return true;
        return false;
    });
    $('#PengeluaranTetapBulanan1').keypress(function (e) {
        var key = e.which || e.keyCode;
        if (!e.shiftKey && !e.altKey && !e.ctrlKey &&
            // numbers
            key >= 48 && key <= 57 ||
            // Numeric keypad
            key >= 96 && key <= 105 ||
            // Backspace and Tab and Enter
            key == 8 || key == 9 || key == 13 ||
            // Home and End
            key == 35 || key == 36 ||
            // left and right arrows
            key == 37 || key == 39 ||
            // . and ,
            key == 190 || key == 188 ||
            // ATAS and BAWAH
            key == 24 || key == 25 ||
            // KANAN and KIRI
            key == 26 || key == 27 ||
            // Del and Ins
            key == 46 || key == 45)
            return true;

        return false;
    });
    $('#PengeluaranTetapBulanan1').keydown(function (e) {
        // return /[0-9]/.test(String.fromCharCode(e.which));
        var key = e.which || e.keyCode;
        if (!e.shiftKey && !e.altKey && !e.ctrlKey &&
            // numbers
            key >= 48 && key <= 57 ||
            // Numeric keypad
            key >= 96 && key <= 105 ||
            // Backspace and Tab and Enter
            key == 8 || key == 9 || key == 13 ||
            // Home and End
            key == 35 || key == 36 ||
            // left and right arrows
            key == 37 || key == 39 ||
            // . and ,
            key == 190 || key == 188 ||
            // ATAS and BAWAH
            key == 24 || key == 25 ||
            // KANAN and KIRI
            key == 26 || key == 27 ||
            // Del and Ins
            key == 46 || key == 45)
            return true;
        return false;
    });
    $('#TinggalSejak1').keypress(function (e) {
        var key = e.which || e.keyCode;
        if (!e.shiftKey && !e.altKey && !e.ctrlKey &&
            // numbers
            key >= 48 && key <= 57 ||
            // Numeric keypad
            key >= 96 && key <= 105 ||
            // Backspace and Tab and Enter
            key == 8 || key == 9 || key == 13 ||
            // Home and End
            key == 35 || key == 36 ||
            // left and right arrows
            key == 37 || key == 39 ||
            // . and ,
            key == 190 || key == 188 ||
            // ATAS and BAWAH
            key == 24 || key == 25 ||
            // KANAN and KIRI
            key == 26 || key == 27 ||
            // Del and Ins
            key == 46 || key == 45)
            return true;

        return false;
    });
    $('#TinggalSejak1').keydown(function (e) {
        // return /[0-9]/.test(String.fromCharCode(e.which));
        var key = e.which || e.keyCode;
        if (!e.shiftKey && !e.altKey && !e.ctrlKey &&
            // numbers
            key >= 48 && key <= 57 ||
            // Numeric keypad
            key >= 96 && key <= 105 ||
            // Backspace and Tab and Enter
            key == 8 || key == 9 || key == 13 ||
            // Home and End
            key == 35 || key == 36 ||
            // left and right arrows
            key == 37 || key == 39 ||
            // . and ,
            key == 190 || key == 188 ||
            // ATAS and BAWAH
            key == 24 || key == 25 ||
            // KANAN and KIRI
            key == 26 || key == 27 ||
            // Del and Ins
            key == 46 || key == 45)
            return true;
        return false;
    });
    $('#OmzetBulanan1').keypress(function (e) {
        var key = e.which || e.keyCode;
        if (!e.shiftKey && !e.altKey && !e.ctrlKey &&
            // numbers
            key >= 48 && key <= 57 ||
            // Numeric keypad
            key >= 96 && key <= 105 ||
            // Backspace and Tab and Enter
            key == 8 || key == 9 || key == 13 ||
            // Home and End
            key == 35 || key == 36 ||
            // left and right arrows
            key == 37 || key == 39 ||
            // . and ,
            key == 190 || key == 188 ||
            // ATAS and BAWAH
            key == 24 || key == 25 ||
            // KANAN and KIRI
            key == 26 || key == 27 ||
            // Del and Ins
            key == 46 || key == 45)
            return true;

        return false;
    });
    $('#OmzetBulanan1').keydown(function (e) {
        // return /[0-9]/.test(String.fromCharCode(e.which));
        var key = e.which || e.keyCode;
        if (!e.shiftKey && !e.altKey && !e.ctrlKey &&
            // numbers
            key >= 48 && key <= 57 ||
            // Numeric keypad
            key >= 96 && key <= 105 ||
            // Backspace and Tab and Enter
            key == 8 || key == 9 || key == 13 ||
            // Home and End
            key == 35 || key == 36 ||
            // left and right arrows
            key == 37 || key == 39 ||
            // . and ,
            key == 190 || key == 188 ||
            // ATAS and BAWAH
            key == 24 || key == 25 ||
            // KANAN and KIRI
            key == 26 || key == 27 ||
            // Del and Ins
            key == 46 || key == 45)
            return true;
        return false;
    });
    $('#NoRekeningBank1').keypress(function (e) {
        var key = e.which || e.keyCode;
        if (!e.shiftKey && !e.altKey && !e.ctrlKey &&
            // numbers
            key >= 48 && key <= 57 ||
            // Numeric keypad
            key >= 96 && key <= 105 ||
            // Backspace and Tab and Enter
            key == 8 || key == 9 || key == 13 ||
            // Home and End
            key == 35 || key == 36 ||
            // left and right arrows
            key == 37 || key == 39 ||
            // . and ,
            key == 190 || key == 188 ||
            // ATAS and BAWAH
            key == 24 || key == 25 ||
            // KANAN and KIRI
            key == 26 || key == 27 ||
            // Del and Ins
            key == 46 || key == 45)
            return true;

        return false;
    });
    $('#NoRekeningBank1').keydown(function (e) {
        // return /[0-9]/.test(String.fromCharCode(e.which));
        var key = e.which || e.keyCode;
        if (!e.shiftKey && !e.altKey && !e.ctrlKey &&
            // numbers
            key >= 48 && key <= 57 ||
            // Numeric keypad
            key >= 96 && key <= 105 ||
            // Backspace and Tab and Enter
            key == 8 || key == 9 || key == 13 ||
            // Home and End
            key == 35 || key == 36 ||
            // left and right arrows
            key == 37 || key == 39 ||
            // . and ,
            key == 190 || key == 188 ||
            // ATAS and BAWAH
            key == 24 || key == 25 ||
            // KANAN and KIRI
            key == 26 || key == 27 ||
            // Del and Ins
            key == 46 || key == 45)
            return true;
        return false;
    });
    $('#TagihanPLN1').keypress(function (e) {
        var key = e.which || e.keyCode;
        if (!e.shiftKey && !e.altKey && !e.ctrlKey &&
            // numbers
            key >= 48 && key <= 57 ||
            // Numeric keypad
            key >= 96 && key <= 105 ||
            // Backspace and Tab and Enter
            key == 8 || key == 9 || key == 13 ||
            // Home and End
            key == 35 || key == 36 ||
            // left and right arrows
            key == 37 || key == 39 ||
            // . and ,
            key == 190 || key == 188 ||
            // ATAS and BAWAH
            key == 24 || key == 25 ||
            // KANAN and KIRI
            key == 26 || key == 27 ||
            // Del and Ins
            key == 46 || key == 45)
            return true;

        return false;
    });
    $('#TagihanPLN1').keydown(function (e) {
        // return /[0-9]/.test(String.fromCharCode(e.which));
        var key = e.which || e.keyCode;
        if (!e.shiftKey && !e.altKey && !e.ctrlKey &&
            // numbers
            key >= 48 && key <= 57 ||
            // Numeric keypad
            key >= 96 && key <= 105 ||
            // Backspace and Tab and Enter
            key == 8 || key == 9 || key == 13 ||
            // Home and End
            key == 35 || key == 36 ||
            // left and right arrows
            key == 37 || key == 39 ||
            // . and ,
            key == 190 || key == 188 ||
            // ATAS and BAWAH
            key == 24 || key == 25 ||
            // KANAN and KIRI
            key == 26 || key == 27 ||
            // Del and Ins
            key == 46 || key == 45)
            return true;
        return false;
    });
    $('#TagihanTelp1').keypress(function (e) {
        var key = e.which || e.keyCode;
        if (!e.shiftKey && !e.altKey && !e.ctrlKey &&
            // numbers
            key >= 48 && key <= 57 ||
            // Numeric keypad
            key >= 96 && key <= 105 ||
            // Backspace and Tab and Enter
            key == 8 || key == 9 || key == 13 ||
            // Home and End
            key == 35 || key == 36 ||
            // left and right arrows
            key == 37 || key == 39 ||
            // . and ,
            key == 190 || key == 188 ||
            // ATAS and BAWAH
            key == 24 || key == 25 ||
            // KANAN and KIRI
            key == 26 || key == 27 ||
            // Del and Ins
            key == 46 || key == 45)
            return true;

        return false;
    });
    $('#TagihanTelp1').keydown(function (e) {
        // return /[0-9]/.test(String.fromCharCode(e.which));
        var key = e.which || e.keyCode;
        if (!e.shiftKey && !e.altKey && !e.ctrlKey &&
            // numbers
            key >= 48 && key <= 57 ||
            // Numeric keypad
            key >= 96 && key <= 105 ||
            // Backspace and Tab and Enter
            key == 8 || key == 9 || key == 13 ||
            // Home and End
            key == 35 || key == 36 ||
            // left and right arrows
            key == 37 || key == 39 ||
            // . and ,
            key == 190 || key == 188 ||
            // ATAS and BAWAH
            key == 24 || key == 25 ||
            // KANAN and KIRI
            key == 26 || key == 27 ||
            // Del and Ins
            key == 46 || key == 45)
            return true;
        return false;
    });
    $('#TagihanPDAM1').keypress(function (e) {
        var key = e.which || e.keyCode;
        if (!e.shiftKey && !e.altKey && !e.ctrlKey &&
            // numbers
            key >= 48 && key <= 57 ||
            // Numeric keypad
            key >= 96 && key <= 105 ||
            // Backspace and Tab and Enter
            key == 8 || key == 9 || key == 13 ||
            // Home and End
            key == 35 || key == 36 ||
            // left and right arrows
            key == 37 || key == 39 ||
            // . and ,
            key == 190 || key == 188 ||
            // ATAS and BAWAH
            key == 24 || key == 25 ||
            // KANAN and KIRI
            key == 26 || key == 27 ||
            // Del and Ins
            key == 46 || key == 45)
            return true;

        return false;
    });
    $('#TagihanPDAM1').keydown(function (e) {
        // return /[0-9]/.test(String.fromCharCode(e.which));
        var key = e.which || e.keyCode;
        if (!e.shiftKey && !e.altKey && !e.ctrlKey &&
            // numbers
            key >= 48 && key <= 57 ||
            // Numeric keypad
            key >= 96 && key <= 105 ||
            // Backspace and Tab and Enter
            key == 8 || key == 9 || key == 13 ||
            // Home and End
            key == 35 || key == 36 ||
            // left and right arrows
            key == 37 || key == 39 ||
            // . and ,
            key == 190 || key == 188 ||
            // ATAS and BAWAH
            key == 24 || key == 25 ||
            // KANAN and KIRI
            key == 26 || key == 27 ||
            // Del and Ins
            key == 46 || key == 45)
            return true;
        return false;
    });
    $('#KodePosMendesak1').keypress(function (e) {
        var key = e.which || e.keyCode;
        if (!e.shiftKey && !e.altKey && !e.ctrlKey &&
            // numbers
            key >= 48 && key <= 57 ||
            // Numeric keypad
            key >= 96 && key <= 105 ||
            // Backspace and Tab and Enter
            key == 8 || key == 9 || key == 13 ||
            // Home and End
            key == 35 || key == 36 ||
            // left and right arrows
            key == 37 || key == 39 ||
            // . and ,
            key == 190 || key == 188 ||
            // ATAS and BAWAH
            key == 24 || key == 25 ||
            // KANAN and KIRI
            key == 26 || key == 27 ||
            // Del and Ins
            key == 46 || key == 45)
            return true;

        return false;
    });
    $('#KodePosMendesak1').keydown(function (e) {
        // return /[0-9]/.test(String.fromCharCode(e.which));
        var key = e.which || e.keyCode;
        if (!e.shiftKey && !e.altKey && !e.ctrlKey &&
            // numbers
            key >= 48 && key <= 57 ||
            // Numeric keypad
            key >= 96 && key <= 105 ||
            // Backspace and Tab and Enter
            key == 8 || key == 9 || key == 13 ||
            // Home and End
            key == 35 || key == 36 ||
            // left and right arrows
            key == 37 || key == 39 ||
            // . and ,
            key == 190 || key == 188 ||
            // ATAS and BAWAH
            key == 24 || key == 25 ||
            // KANAN and KIRI
            key == 26 || key == 27 ||
            // Del and Ins
            key == 46 || key == 45)
            return true;
        return false;
    });
    $('#TelpMendesak1').keypress(function (e) {
        var key = e.which || e.keyCode;
        if (!e.shiftKey && !e.altKey && !e.ctrlKey &&
            // numbers
            key >= 48 && key <= 57 ||
            // Numeric keypad
            key >= 96 && key <= 105 ||
            // Backspace and Tab and Enter
            key == 8 || key == 9 || key == 13 ||
            // Home and End
            key == 35 || key == 36 ||
            // left and right arrows
            key == 37 || key == 39 ||
            // . and ,
            key == 190 || key == 188 ||
            // ATAS and BAWAH
            key == 24 || key == 25 ||
            // KANAN and KIRI
            key == 26 || key == 27 ||
            // Del and Ins
            key == 46 || key == 45)
            return true;

        return false;
    });
    $('#TelpMendesak1').keydown(function (e) {
        // return /[0-9]/.test(String.fromCharCode(e.which));
        var key = e.which || e.keyCode;
        if (!e.shiftKey && !e.altKey && !e.ctrlKey &&
            // numbers
            key >= 48 && key <= 57 ||
            // Numeric keypad
            key >= 96 && key <= 105 ||
            // Backspace and Tab and Enter
            key == 8 || key == 9 || key == 13 ||
            // Home and End
            key == 35 || key == 36 ||
            // left and right arrows
            key == 37 || key == 39 ||
            // . and ,
            key == 190 || key == 188 ||
            // ATAS and BAWAH
            key == 24 || key == 25 ||
            // KANAN and KIRI
            key == 26 || key == 27 ||
            // Del and Ins
            key == 46 || key == 45)
            return true;
        return false;
    });
    $('#HandphoneMendesak1').keypress(function (e) {
        var key = e.which || e.keyCode;
        if (!e.shiftKey && !e.altKey && !e.ctrlKey &&
            // numbers
            key >= 48 && key <= 57 ||
            // Numeric keypad
            key >= 96 && key <= 105 ||
            // Backspace and Tab and Enter
            key == 8 || key == 9 || key == 13 ||
            // Home and End
            key == 35 || key == 36 ||
            // left and right arrows
            key == 37 || key == 39 ||
            // . and ,
            key == 190 || key == 188 ||
            // ATAS and BAWAH
            key == 24 || key == 25 ||
            // KANAN and KIRI
            key == 26 || key == 27 ||
            // Del and Ins
            key == 46 || key == 45)
            return true;

        return false;
    });
    $('#HandphoneMendesak1').keydown(function (e) {
        // return /[0-9]/.test(String.fromCharCode(e.which));
        var key = e.which || e.keyCode;
        if (!e.shiftKey && !e.altKey && !e.ctrlKey &&
            // numbers
            key >= 48 && key <= 57 ||
            // Numeric keypad
            key >= 96 && key <= 105 ||
            // Backspace and Tab and Enter
            key == 8 || key == 9 || key == 13 ||
            // Home and End
            key == 35 || key == 36 ||
            // left and right arrows
            key == 37 || key == 39 ||
            // . and ,
            key == 190 || key == 188 ||
            // ATAS and BAWAH
            key == 24 || key == 25 ||
            // KANAN and KIRI
            key == 26 || key == 27 ||
            // Del and Ins
            key == 46 || key == 45)
            return true;
        return false;
    });
    $('#HandphoneMendesak2a').keypress(function (e) {
        var key = e.which || e.keyCode;
        if (!e.shiftKey && !e.altKey && !e.ctrlKey &&
            // numbers
            key >= 48 && key <= 57 ||
            // Numeric keypad
            key >= 96 && key <= 105 ||
            // Backspace and Tab and Enter
            key == 8 || key == 9 || key == 13 ||
            // Home and End
            key == 35 || key == 36 ||
            // left and right arrows
            key == 37 || key == 39 ||
            // . and ,
            key == 190 || key == 188 ||
            // ATAS and BAWAH
            key == 24 || key == 25 ||
            // KANAN and KIRI
            key == 26 || key == 27 ||
            // Del and Ins
            key == 46 || key == 45)
            return true;

        return false;
    });
    $('#HandphoneMendesak2a').keydown(function (e) {
        // return /[0-9]/.test(String.fromCharCode(e.which));
        var key = e.which || e.keyCode;
        if (!e.shiftKey && !e.altKey && !e.ctrlKey &&
            // numbers
            key >= 48 && key <= 57 ||
            // Numeric keypad
            key >= 96 && key <= 105 ||
            // Backspace and Tab and Enter
            key == 8 || key == 9 || key == 13 ||
            // Home and End
            key == 35 || key == 36 ||
            // left and right arrows
            key == 37 || key == 39 ||
            // . and ,
            key == 190 || key == 188 ||
            // ATAS and BAWAH
            key == 24 || key == 25 ||
            // KANAN and KIRI
            key == 26 || key == 27 ||
            // Del and Ins
            key == 46 || key == 45)
            return true;
        return false;
    });









</script>