@model IEnumerable<SmmCoreDDD2019.Application.Penjualans.Query.GetDataPenjualanBulananBySales.GetDataPenjualanBulananBySalesLookUpModel>
@{
    ViewData["Title"] = "LaporanSalesForceBulanan";
  //  Layout = "~/Views/Shared/_AdminlteCreate.cshtml";
}



<script language="javascript">
function printdiv(printpage)
{
var headstr = "<html><head><title></title></head><body>";
var footstr = "</body>";
var newstr = document.all.item(printpage).innerHTML;
var oldstr = document.body.innerHTML;
document.body.innerHTML = headstr+newstr+footstr;
window.print();
document.body.innerHTML = oldstr;
return false;
}
</script>


<h2>Lap Sales Bulanan</h2>
<div class="hidden-print">
    <p></p>
    @*<a style="color:green;text-decoration:none;" href="javascript:window.print()">
            <span style="color:green;text-decoration:none;">
                <img height="12" src="https://ecs7.tokopedia.net/img/print.png" alt="Print" />&nbsp;Cetak
            </span>
            <span style="display:inline-block; width:25px ;"></span>

        </a>*@
    <input name="b_print" type="button" class="ipt" onClick="printdiv('div_print');" value=" Print ">
    <a asp-action="IsiTglLapPJSales">Back to List</a>
</div>

<div id="div_print">
    <table style="border:double;width:auto">
        <thead style="border:double;width:auto">

        </thead>

        <tbody style="border:double;width:auto">
            @{int i = 1;}
            @foreach (var item in Model)
            {
                <tr style="border:double;width:auto">
                    <td style="border:solid">@i</td>

                    <td style="border:solid">
                        @Html.DisplayFor(modelItem => item.NamaKonsumen)<br />
                        @Html.DisplayFor(modelItem => item.NamaBPKB)<br />
                        @Html.DisplayFor(modelItem => item.NoBuku)<br />
                        Sales:@Html.DisplayFor(modelItem => item.NamaSales)<br />
                        @Html.DisplayFor(modelItem => item.KategoryPenjualan)<br />
                        @Html.DisplayFor(modelItem => item.NamaLeasing)<br />
                        @Html.DisplayFor(modelItem => item.CabangLeasing)
                    </td>
                    <td style="border:solid">
                        @Html.DisplayFor(modelItem => item.Merek)<br />
                        @Html.DisplayFor(modelItem => item.NamaBarang)<br />
                        No.Rangka:<br />
                        @Html.DisplayFor(modelItem => item.NoMesin)<br />
                        No.Mesin:<br />
                        @Html.DisplayFor(modelItem => item.NoRangka)

                    </td>
                    <td style="border:solid">
                        <table>
                            <tr>

                                <th style="font-weight:normal">OTR:</th>
                                <td>@string.Format("{0:c}", item.OTR)</td>
                            </tr>
                            <tr style="border-bottom:double">
                                <th style="font-weight:normal">Diskon Tunai:</th>
                                <td>@string.Format("{0:c}", item.DiscTunai)</td>
                            </tr>
                            <tr>
                                <th style="font-weight:normal">Dibayar:</th>
                                <td>@string.Format("{0:c}", item.OTRByr)</td>
                            </tr>
                            <tr>
                                <th style="font-weight:normal">SPF:</th>
                                <td>@string.Format("{0:c}", item.SPFF)</td>
                            </tr>
                            <tr>
                                <th style="font-weight:normal">Sell OUT</th>
                                <td>@string.Format("{0:c}", item.SellOutt)</td>
                            </tr>
                            <tr>
                                <th style="font-weight:normal">Denda Wilayah</th>
                                <td>@string.Format("{0:c}", item.DenWil)</td>
                            </tr>
                        </table>
                    </td>

                    <td style="border:solid">
                        <table>
                            <tr>
                                <th style="font-weight:normal">Uang Muka</th>
                                <td>@string.Format("{0:c}", item.DP)</td>
                            </tr>
                            <tr style="border-bottom:double">
                                <th style="font-weight:normal">Diskon Kredit</th>
                                <td>@string.Format("{0:c}", item.DiscDP)</td>
                            </tr>
                            <tr>
                                <th style="font-weight:normal">DP Bayar</th>
                                <td>@string.Format("{0:c}", item.DPByr)</td>
                            </tr>
                            <tr>
                                <th style="font-weight:normal">Subsidi</th>
                                <td>@string.Format("{0:c}", item.SubK)</td>
                            </tr>
                            <tr>
                                <th style="font-weight:normal">Komisi</th>
                                <td>@string.Format("{0:c}", item.Komisii)</td>
                            </tr>
                            <tr>
                                <th style="font-weight:normal">DP Bersih</th>
                                <td>@string.Format("{0:c}", item.DPByr)</td>
                            </tr>
                        </table>
                    </td>

                    <td>
                        <table>
                            <tr>
                                <td>
                                    @if (item.tglLunasLeasing == null)
                                    {
                                        @Html.Label("Belum Lunas")

                                    }
                                    else
                                    {
                                        @string.Format("{0:d}", item.tglLunasLeasing)
                                    }
                                </td>
                            </tr>
                        </table>
                    </td>

                </tr>
                i++;
            }
        </tbody>

    </table>

</div>
