@model IEnumerable<SmmCoreDDD2019.Application.AccountingDataJournalDB.Query.GetLaporanNeraca.GetLaporanNeracaLookUpModel>
@{
    ViewData["Title"] = "LaporanNeraca";
    Layout = "~/Views/Shared/_AdminlteCreate.cshtml";
}

<div>
    <h1 style="text-align:center">Laporan Neraca</h1>
    <h2 style="text-align:center">Periode @string.Format("{0:d}", ViewBag.Tgl1) s/d  @string.Format("{0:d}", ViewBag.Tgl2) </h2>

</div>

<div>
    <table>
        <thead>
            <tr>
                <th colspan="2" style="width:50%;">Aktiva</th>
                <th colspan="2" style="width:50%;">Pasiva</th>
            </tr>
        </thead>
        <tbody>
            <tr></tr>
            <tr>
                <td colspan="2" style="padding:0px">

                    <!-- Aktiva -->
                    <table class="table table-bordered table-striped grid">
                        @{
                            Decimal? i4 = 0;
                            Decimal? i = 0;
                            Decimal? i2 = 0;
                            Decimal? i3 = 0;
                        }

                        @foreach (var item1 in Model.GroupBy(x => x.KodeAkunInduk))
                        {
                            if (item1.Key == "1 - AKTIVA")
                            {
                                <tr class="group-header">
                                    <td colspan="6">
                                        <span class="h4">@item1.Key</span>
                                    </td>
                                </tr>
                                foreach (var item2 in item1.GroupBy(x => x.KodeAccountParent))
                                {

                                    <tr class="group-header">
                                        <td colspan="6" style="padding-left:23px;font-weight:bold">
                                            <span>@item2.Key</span>
                                        </td>
                                    </tr>
                                    foreach (var item3 in item2.GroupBy(x => x.nm))
                                    {

                                        @*<tr class="group-header">
                                                <td colspan="6" style="padding-left:23px;font-weight:bold">
                                                    <span>@item3.Key</span>
                                                </td>
                                            </tr>*@
                                        foreach (var item in item3)
                                        {

                                            //if (item.Saldo1 != 0) {
                                            @*<tr>
                                                    <td></td>
                                                    <td>@Html.DisplayFor(modelItem => item.nm)</td>

                                                    <td>

                                                        @string.Format("{0:c}", item.Debit1)
                                                    </td>
                                                    <td>

                                                        @string.Format("{0:c}", item.Kredit1)
                                                    </td>
                                                    <td>

                                                        @string.Format("{0:c}", item.Saldo1)
                                                    </td>
                                                </tr>*@
                                            i = i + item.Saldo1;
                                            i4 = i4 + item.Saldo1;
                                            //if (item1.Key == "1 - AKTIVA") { i3 = i; };
                                            i2 = i2 + (item.Saldo1 * item.normalPosInduk * -1);
                                            //}

                                        }



                                    }
                                    <tr class="group-footer">
                                        <td colspan="4" style="padding-left:100px;font-weight:bold">
                                            <span>@item2.Key</span>

                                        </td>
                                        <td> @String.Format("{0:c}", i4)</td>
                                    </tr>
                                    i4 = 0;
                                }


                                <tr class="group-footer">

                                    <td colspan="4" style="padding-left:100px;font-weight:bold">
                                        <span>@item1.Key</span>

                                    </td>
                                    <td> @String.Format("{0:c}", i)</td>

                                    @*@if (item1.Key == "1 - AKTIVA")
                                        {
                                            <td style="padding-left:100px;font-weight:bold"> @String.Format("{0:c}", i)</td>
                                        }
                                        else
                                        {
                                            <td> @String.Format("{0:c}", i)</td>
                                        };*@

                                </tr>

                                i = 0;

                            }
                            //i4 = 0;
                        }
                    </table>
                </td>
                <td colspan="2" style="padding:0px">
                    <table class="table table-bordered table-striped grid">

                        <!-- Pasiva -->
                        @{
                            Decimal? i5a = 0;
                            Decimal? ia = 0;
                            Decimal? i2a = 0;
                            Decimal? i3a = 0;
                        }

                        @foreach (var item1 in Model.GroupBy(x => x.KodeAkunInduk))
                        {
                            if (item1.Key != "1 - AKTIVA")
                            {
                                <tr class="group-header">
                                    <td colspan="6">
                                        <span class="h4">@item1.Key</span>
                                    </td>
                                </tr>
                                foreach (var item2 in item1.GroupBy(x => x.KodeAccountParent))
                                {

                                    <tr class="group-header">
                                        <td colspan="6" style="padding-left:23px;font-weight:bold">
                                            <span>@item2.Key</span>
                                        </td>
                                    </tr>
                                    foreach (var item3 in item2.GroupBy(x => x.nm))
                                    {

                                        @*<tr class="group-header">
                                                <td colspan="6" style="padding-left:23px;font-weight:bold">
                                                    <span>@item3.Key</span>
                                                </td>
                                            </tr>*@
                                        foreach (var item in item3)
                                        {


                                            @*<tr>
                                                                <td></td>
                                                                <td>@Html.DisplayFor(modelItem => item.nm)</td>

                                                                <td>

                                                    @string.Format("{0:c}", item.Debit1)
                                                </td>
                                                <td>

                                                    @string.Format("{0:c}", item.Kredit1)
                                                </td>
                                                                <td>

                                                                    @string.Format("{0:c}", item.Saldo1)
                                                                </td>
                                                            </tr>*@
                                            ia = ia + item.Saldo1;
                                            //if (item1.Key == "1 - AKTIVA") { i3 = i; };
                                            i5a = i5a + item.Saldo1;
                                            i2a = i2a + (item.Saldo1 * item.normalPosInduk * -1);


                                        }



                                    }
                                    <tr class="group-footer">
                                        <td colspan="4" style="padding-left:100px;font-weight:bold">
                                            <span>@item2.Key</span>

                                        </td>
                                        <td> @String.Format("{0:c}", i5a)</td>
                                    </tr>
                                    i5a = 0;
                                }

                                <tr class="group-footer">

                                    <td colspan="4" style="padding-left:100px;font-weight:bold">
                                        <span>@item1.Key</span>

                                    </td>
                                    <td> @String.Format("{0:c}", ia)</td>

                                    @*@if (item1.Key == "1 - AKTIVA")
                                        {
                                            <td style="padding-left:100px;font-weight:bold"> @String.Format("{0:c}", i)</td>
                                        }
                                        else
                                        {
                                            <td> @String.Format("{0:c}", i)</td>
                                        };*@

                                </tr>

                                ia = 0;
                            }

                        }
                    </table>

                </td>
            </tr>
        </tbody>
        <!-- Footer -->
        <tfoot>
            <tr>
                <th style="border-right: 0; text-align: left; ">Total Aktiva</th>
                <th style="border-left: 0; text-align: right; "></th>
                <th style="border-right: 0; text-align: left; ">Total Pasiva</th>
                <th style="border-left: 0; text-align: right; "></th>
            </tr>
        </tfoot>

    </table>
</div>