@model SmmCoreDDD2019.Common.Identity.ApplicationUser
@inject SmmCoreDDD2019.Common.Identity.AppIdentityDbContext Context
@{
    UserProfile profile = Context.UserProfile.SingleOrDefault(x => x.ApplicationUserId.Equals(Model.Id));
}
<aside style="background-color:darkolivegreen" class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="@profile.ProfilePicture" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>@profile.FirstName @profile.LastName</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">

            <li class="header">DASHBOARD</li>
            <li class="@Html.IsSelected(controller: MainMenu.Dashboard.ControllerName)">
                <a href="@MainMenu.Dashboard.Path">
                    <i class="fa fa-line-chart"></i> <span>@MainMenu.Dashboard.PageName</span>
                </a>
            </li>
            <li class="header">Data Avalist</li>
            <li class="@Html.IsSelected(controller: MainMenu.DataAvalistDataKonsumen.ControllerName)">
                <a href="@MainMenu.DataAvalistDataKonsumen.Path">
                    <i class="fa fa-address-card"></i> <span>@MainMenu.DataAvalistDataKonsumen.PageName</span>
                </a>
            </li>
            <li class="@Html.IsSelected(controller: MainMenu.DataAvalistDataKredit.ControllerName)">
                <a href="@MainMenu.DataAvalistDataKredit.Path">
                    <i class="fa fa-file-excel-o"></i> <span>@MainMenu.DataAvalistDataKredit.PageName</span>
                </a>
            </li>
            <li class="@Html.IsSelected(controller: MainMenu.DataAvalistDataSurvei.ControllerName)">
                <a href="@MainMenu.DataAvalistDataSurvei.Path">
                    <i class="fa fa-check-square"></i> <span>@MainMenu.DataAvalistDataSurvei.PageName</span>
                </a>
            </li>
            <li class="@Html.IsSelected(controller: MainMenu.DataAvalistDataAsuransi.ControllerName)">
                <a href="@MainMenu.DataAvalistDataAsuransi.Path">
                    <i class="fa fa-motorcycle"></i> <span>@MainMenu.DataAvalistDataAsuransi.PageName</span>
                </a>
            </li>
            <li class="@Html.IsSelected(controller: MainMenu.DataAvalistDataKreditDemo.ControllerName)">
                <a href="@MainMenu.DataAvalistDataKreditDemo.Path">
                    <i class="fa fa-file-excel-o"></i> <span>@MainMenu.DataAvalistDataKreditDemo.PageName</span>
                </a>
            </li>
            <li class="@Html.IsSelected(controller: MainMenu.ListDataKontrakKredit.ControllerName)">
                <a href="@MainMenu.ListDataKontrakKredit.Path">
                    <i class="fa fa-list"></i> <span>@MainMenu.ListDataKontrakKredit.PageName</span>
                </a>
            </li>
            <li class="header">PEMBELIAN</li>
            <li class="@Html.IsSelected(controller: MainMenu.Pembelian.ControllerName)">
                <a href="@MainMenu.Pembelian.Path">
                    <i class="fa fa-cart-arrow-down"></i> <span>@MainMenu.Pembelian.PageName</span>
                </a>
            </li>
            <li class="@Html.IsSelected(controller: MainMenu.GetListPembelian.ControllerName)">
                <a href="@MainMenu.GetListPembelian.Path">
                    <i class="fa fa-cart-plus"></i> <span>@MainMenu.GetListPembelian.PageName</span>
                </a>
            </li>
            <li class="header">PO PEMBELIAN</li>
            <li class="@Html.IsSelected(controller: MainMenu.POPembelian.ControllerName)">
                <a href="@MainMenu.POPembelian.Path">
                    <i class="fa fa-cart-arrow-down"></i> <span>@MainMenu.POPembelian.PageName</span>
                </a>
            </li>
            <li class="header">Data SPK</li>
            <li class="@Html.IsSelected(controller: MainMenu.DataSPK.ControllerName)">
                <a href="@MainMenu.DataSPK.Path">
                    <i class="fa fa-address-card"></i> <span>@MainMenu.DataSPK.PageName</span>
                </a>
            </li>
            <li class="header">Data Konsumen</li>
            <li class="@Html.IsSelected(controller: MainMenu.Customers.ControllerName)">
                <a href="@MainMenu.Customers.Path">
                    <i class="fa fa-address-card"></i> <span>@MainMenu.Customers.PageName</span>
                </a>
            </li>
            <li class="header">PENJUALAN</li>
            <li class="@Html.IsSelected(controller: MainMenu.Penjualan.ControllerName)">
                <a href="@MainMenu.Penjualan.Path">
                    <i class="fa fa-shopping-cart"></i> <span>@MainMenu.Penjualan.PageName</span>
                </a>
            </li>
            <li class="header">STNK & BPKB</li>
            <li class="@Html.IsSelected(controller: MainMenu.PermohonanFaktur.ControllerName)">
                <a href="@MainMenu.PermohonanFaktur.Path">
                    <i class="fa fa-envelope-open"></i> <span>@MainMenu.PermohonanFaktur.PageName</span>
                </a>
            </li>
            <li class="@Html.IsSelected(controller: MainMenu.STNK.ControllerName)">
                <a href="@MainMenu.STNK.Path">
                    <i class="fa fa-envelope-open"></i> <span>@MainMenu.STNK.PageName</span>
                </a>
            </li>
            <li class="@Html.IsSelected(controller: MainMenu.BPKB.ControllerName)">
                <a href="@MainMenu.BPKB.Path">
                    <i class="fa fa-envelope-open"></i> <span>@MainMenu.BPKB.PageName</span>
                </a>
            </li>
            <li class="header">Master Leasing</li>
            <li class="@Html.IsSelected(controller: MainMenu.Leasing.ControllerName)">
                <a href="@MainMenu.Leasing.Path">
                    <i class="fa fa-institution"></i> <span>@MainMenu.Leasing.PageName</span>
                </a>
            </li>
            <li class="header">Master Supplier</li>
            <li class="@Html.IsSelected(controller: MainMenu.Supplier.ControllerName)">
                <a href="@MainMenu.Supplier.Path">
                    <i class="fa fa-industry"></i> <span>@MainMenu.Supplier.PageName</span>
                </a>
            </li>
            <li class="header">Master Barang</li>
            <li class="@Html.IsSelected(controller: MainMenu.MasterBarang.ControllerName)">
                <a href="@MainMenu.MasterBarang.Path">
                    <i class="fa fa-tag"></i> <span>@MainMenu.MasterBarang.PageName</span>
                </a>
            </li>
            <li class="header">Master Pegawai</li>
            <li class="@Html.IsSelected(controller: MainMenu.DataPegawai.ControllerName)">
                <a href="@MainMenu.DataPegawai.Path">
                    <i class="fa fa-users"></i> <span>@MainMenu.DataPegawai.PageName</span>
                </a>
            </li>
            <li class="@Html.IsSelected(controller: MainMenu.DataPegawaiDataKeluarga.ControllerName)">
                <a href="@MainMenu.DataPegawaiDataKeluarga.Path">
                    <i class="fa fa-sitemap"></i> <span>@MainMenu.DataPegawaiDataKeluarga.PageName</span>
                </a>
            </li>
            <li class="@Html.IsSelected(controller: MainMenu.DataPegawaiDataFoto.ControllerName)">
                <a href="@MainMenu.DataPegawaiDataFoto.Path">
                    <i class="fa fa-file-photo-o"></i> <span>@MainMenu.DataPegawaiDataFoto.PageName</span>
                </a>
            </li>
            <li class="header">Master Perusahaan</li>
            <li class="@Html.IsSelected(controller: MainMenu.DataPerusahaan.ControllerName)">
                <a href="@MainMenu.DataPerusahaan.Path">
                    <i class="fa fa-group"></i> <span>@MainMenu.DataPerusahaan.PageName</span>
                </a>
            </li>
            <li class="@Html.IsSelected(controller: MainMenu.DataPerusahaanCabang.ControllerName)">
                <a href="@MainMenu.DataPerusahaanCabang.Path">
                    <i class="fa fa-gear"></i> <span>@MainMenu.DataPerusahaanCabang.PageName</span>
                </a>
            </li>
            <li class="@Html.IsSelected(controller: MainMenu.DataPerusahaanStructureOrganization.ControllerName)">
                <a href="@MainMenu.DataPerusahaanStructureOrganization.Path">
                    <i class="fa fa-group"></i> <span>@MainMenu.DataPerusahaanStructureOrganization.PageName</span>
                </a>
            </li>

            <li class="header">USER & ROLE</li>
            <li class="@Html.IsSelected(controller: MainMenu.User.ControllerName, action: MainMenu.User.ActionName)">
                <a href="@MainMenu.User.Path">
                    <i class="fa fa-users"></i> <span>@MainMenu.User.PageName</span>
                </a>
            </li>
            <li class="@Html.IsSelected(controller: MainMenu.ChangePassword.ControllerName, action: MainMenu.ChangePassword.ActionName)">
                <a href="@MainMenu.ChangePassword.Path">
                    <i class="fa fa-key"></i> <span>@MainMenu.ChangePassword.PageName</span>
                </a>
            </li>
            <li class="@Html.IsSelected(controller: MainMenu.Role.ControllerName, action: MainMenu.Role.ActionName)">
                <a href="@MainMenu.Role.Path">
                    <i class="fa fa-gear"></i> <span>@MainMenu.Role.PageName</span>
                </a>
            </li>
            <li class="@Html.IsSelected(controller: MainMenu.ChangeRole.ControllerName, action: MainMenu.ChangeRole.ActionName)">
                <a href="@MainMenu.ChangeRole.Path">
                    <i class="fa fa-gear"></i> <span>@MainMenu.ChangeRole.PageName</span>
                </a>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>