@model IEnumerable<SmmCoreDDD2019.Application.DataPegawaiFotos.Queries.GetDataPegawaiList.DataPegawaiLookUpModel>

@{
    //  ViewData["Title"] = "GetListFoto";
   // Layout = "~/Views/Shared/_AdminlteCreate.cshtml";
}




<table class="table table-bordered table-striped grid text-nowrap table-responsive " style="border:double" width="200">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdPegawai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Foto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdPegawai)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.Foto)*@
                    @if (item.Foto != null)
                    {
                        <img width="400" height="300" src="data:image;base64,@System.Convert.ToBase64String(item.Foto)" />
                        <p>@String.Format("{0} KB", ((item.Foto.Length) / 1024))</p>
                    }
                    else
                    {
                        <p>Foto Masih Kosong</p>
                    }
                </td>
                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                </td>
            </tr>
        }
    </tbody>
</table>
