@model SmmCoreDDD2019.Application.Penjualans.Command.CreatePenjualan.CreatePenjualanCommand

@{
    ViewData["Title"] = "Penjualan";
    Layout = "~/Views/Shared/_AdminlteCreate.cshtml";
}



<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Penjualan">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <div class="col-md-6">
                    <div class="form-group">

                        <label asp-for="NoUrutSPK" class="control-label"></label>

                        <select asp-for="NoUrutSPK" class="form-control" asp-items="@ViewBag.DataSPK1"></select>
                        <span asp-validation-for="NoUrutSPK" class="text-danger"></span>


                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="TanggalPenjualan" class="control-label"></label>

                        <input id="datepicker1" asp-for="TanggalPenjualan" class="form-control" />
                        <span asp-validation-for="TanggalPenjualan" class="text-danger"></span>


                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <div class="form-group">

                        <label asp-for="KodeKonsumen" class="control-label"></label>

                        <select asp-items="@ViewBag.DataKonsumen" asp-for="KodeKonsumen" class="form-control"></select>

                        <span asp-validation-for="KodeKonsumen" class="text-danger"></span>


                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="KodeLease" class="control-label"></label>

                        <select asp-items="@ViewBag.NamaLeasingCabang" asp-for="KodeLease" class="form-control"></select>
                        <span asp-validation-for="KodeLease" class="text-danger"></span>


                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="NoBuku" class="control-label"></label>

                        <input asp-for="NoBuku" class="form-control" />
                        <span asp-validation-for="NoBuku" class="text-danger"></span>



                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="NoUrutSales" class="control-label"></label>

                        <select asp-for="NoUrutSales" class="form-control" asp-items="@ViewBag.NamaSalesForce"></select>
                        <span asp-validation-for="NoUrutSales" class="text-danger"></span>


                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <div class="form-group">

                        <label asp-for="Mediator" class="control-label"></label>

                        <input asp-for="Mediator" class="form-control" />
                        <span asp-validation-for="Mediator" class="text-danger"></span>


                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="KategoriPenjualan" class="control-label"></label>

                        <select asp-for="KategoriPenjualan" class="form-control" asp-items="@ViewBag.NamaKategoryPenjualan"></select>
                        <span asp-validation-for="KategoriPenjualan" class="text-danger"></span>


                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="form-group">

                        <label asp-for="Keterangan" class="control-label"></label>

                        <input asp-for="Keterangan" class="form-control" />
                        <span asp-validation-for="Keterangan" class="text-danger"></span>

                    </div>
                </div>
                <div class="col-md-6">
                    <div hidden class="form-group">
                        <div>
                            <label asp-for="Batal" class="control-label"></label>

                            <input asp-for="Batal" class="form-control" />
                            <span asp-validation-for="Batal" class="text-danger"></span>

                            <label asp-for="UserInputId" class="control-label"></label>
                            <input asp-for="UserInputId" class="form-control" />
                            <span asp-validation-for="UserInputId" class="text-danger"></span>

                            <label asp-for="UserInput" class="control-label"></label>

                            <input asp-for="UserInput" class="form-control" />
                            <span asp-validation-for="UserInput" class="text-danger"></span>

                        </div>

                    </div>
                </div>

            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="form-group">

                        <input type="submit" value="Create" class="btn btn-primary" />

                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">


                    </div>
                </div>
            </div>

        </form>
    </div>
</div>
<hr />
<hr />
<script>
    $('#datepicker1').datepicker({
        changeMonth: true,
        changeYear: true,
        appendText: "(Tanggal-Bulan-Tahun)",
        dateFormat: "dd-mm-yy",
        yearRange: "c-100:c+10"

    });
</script>
